.nav { border-color: rgba(0, 0, 0, 0.01) !important; }
@media screen and (min-width: 1200px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 991px) {}
@media screen and (max-width: 767px) {}
.nav li a { color: var(--asoop-color-0) ; }
.nav .asoop-navbar-two-menu li a { color: var(--asoop-color-0) ; }
.nav .asoop-navbar-two-menu .menu-item-has-children > ul li a { color: var(--asoop-color-0) ; }
.nav li a:hover { color: var(--asoop-color-4); }
@media screen and (max-width: 575px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}