<!DOCTYPE html>
<html lang="en-US" class="no-js no-svg">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <title>Webiox - Home</title>
  <link rel="stylesheet" type="text/css" href="./vendor/bootstrap-5.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./vendor/carousel/splide.min.css">
  <link rel="stylesheet" type="text/css" href="./vendor/fontawesome-5.9.0/css/all.min.css">
  <script type="text/javascript" src="./vendor/jquery-3.4.1/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="./vendor/bootstrap-5.0.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./vendor/carousel/splide.min.js"></script>
  <link rel="stylesheet" href="./style/index.css" type="text/css" media="all">
  <script type="text/javascript" src="./js/index.js"></script>
</head>

<body>
  <!--HEADER CODE-->
  <header class="position-relative header" id="top">
    <!--HEADER BAR-->
    <div class="p-3 d-flex flex-row flex-xl-column justify-content-xl-between align-items-xl-center justify-content-between align-items-center header-bar">
      <!--HEADER LOGO-->
      <img alt="" src="./image/20230712065533.svg">
      <!--SOCIAL MEDIA ICON-->
      <ul class="m-0 menu-social-icons d-flex align-items-center list-unstyled justify-content-between flex-row flex-xl-column fs-5">
        <li>
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-square"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-telegram"></i>
          </a>
        </li>
      </ul>
      <a href="javascript:void(0);" class="navbar-bars">
        <i class="fa fa-bars"></i>
      </a>
      <!--END SOCIAL MEDIA ICON-->
    </div>
    <!--END HEADER BAR-->
    <!--NAVBAR-->
    <div class="container-fluid pt-0 position-fixed m-auto navbar-container">
      <div class="row justify-content-center m-0 position-relative">
        <nav class="d-flex align-items-stretch justify-content-end navbar">
          <ul class="menu-navigation list-unstyled justify-content-around align-items-stretch draw-bottom-effect w-100">
            <li>
              <a href="#top">TOP</a>
            </li>
            <li>
              <a href="#about">ABOUT</a>
            </li>
            <li>
              <a href="#services">SERVICES</a>
            </li>
            <li>
              <a href="#testimonials">TESTIMONIALS</a>
            </li>
            <li>
              <a href="#portfolio">PORTFOLIO</a>
            </li>
            <li>
              <a href="#contact">CONTACT</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!--END NAVBAR-->
    <div class="pt-200 pb-100 container-xl">
      <div class="row">
        <div class="col-12 d-flex flex-column col-lg-6 text-center text-lg-start align-items-center align-items-lg-start">
          <h2 class="fs-5 color-7">Welcome To Webiox</h2>
          <h1 class="my-5 main-headline display-2">Innovating Your Tomorrow
            <span class="today">Today</span>.</h1>
          <p class="fs-6">At Webiox, we thrive on challenges and embrace innovation as our driving force. Our team of experts brings together a unique blend of creativity, expertise, and vision to every project we undertake.</p>
          <button class="button-one m-0 mt-5 button-one-fill button--1">Explore Now</button>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div class="container-xl">
      <div class="row position-relative">
        <div class="h-100 w-100 position-absolute transparent-bg"></div>
        <div class="p-5 col-md-4 text-center text-md-start">
          <div>
            <h3 class="mb-3">Our Vision
              <br>
            </h3>
            <p class="fs-6">At Webiox Innovations, our vision is to revolutionize the digital landscape by being at the forefront of technological advancements.</p>
          </div>
        </div>
        <div class="p-5 border border-top-0 border-bottom-0 col-md-4 text-center text-md-start">
          <div>
            <h3 class="mb-3">Our
              <strong>Mission</strong>
            </h3>
            <p class="fs-6">Our mission is to craft exceptional digital experiences that transcend boundaries.
              <br>
            </p>
          </div>
        </div>
        <div class="p-5 col-md-4 text-center text-md-start">
          <div>
            <h3 class="mb-3">Our
              <strong>Target</strong>
            </h3>
            <p class="fs-6">Our target is to cater to a wide spectrum of clients, including startups, small and medium-sized businesses, as well as enterprises.</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--END HEADER CODE-->

  <!--ABOUT CODE-->
  <section class="about" id="about">
    <div class="line"></div>
    <div class="pb-100 bg-about">
      <div class="container-xl">
        <div class="row d-flex justify-content-center">
          <div class="position-relative col-lg-6 col-md-9">
            <img class=" w-100 position-relative" alt="" src="./image/20230828102606.png">
          </div>
          <div class="d-flex flex-column align-items-start justify-content-center p-5 col-lg-6">
            <h3 class="fs-5 color-7">About Webiox</h3>
            <h2 class="fs-1 my-4 color-1">Empowering Tomorrow Through Innovation and
              <span style="font-weight: normal;" class="color-6">Technology</span> Excellence</h2>
            <p class="fs-6">Welcome to Webiox Dynamics - your gateway to a world where innovation meets technology at its finest. As a pioneering technology company, our journey is marked by a relentless pursuit of excellence and a passion for creating solutions that redefine industries.
              <br>Webiox Dynamics isn't just a company; we're a team of visionaries, creators, and problem solvers. Our diverse talents come together to form a powerhouse of innovation, where ideas are nurtured, and possibilities are transformed into reality.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--END ABOUT CODE-->

  <!--SERVICES CODE-->
  <section class="pt-100 pb-100 services position-relative" id="services">
    <div class="bg-effect-1"></div>
    <div class="bg-effect-2"></div>
    <div class="container-xl">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 px-5 px-xl-0">
          <h3 class="fs-5 color-7">Services</h3>
          <h2 class="fs-1 my-4 color-1">Elevating Possibilities Through Our Comprehensive
            <span style="font-weight: normal;" class="color-6">Services</span>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-4 col-lg-6 mb-lg-0">
          <div class="h-100 border border-1 d-flex flex-column bg-color-6 border-color-6 radius-30">
            <img class=" w-100 flex-grow-1 radius-30" alt="" src="./image/20230829052350.png">
            <div class="p-4 pt-0">
              <h3 class="my-4">Transforming Ideas into Apps</h3>
              <p>Our application development services encompass a wide range of platforms and technologies. We transform your ideas into user-friendly and feature-rich mobile and web applications. Whether it's for iOS, Android, or cross-platform, we're your partners in bringing your app visions to life.</p>
              <button data-bs-toggle="modal" data-bs-target="#service-details" class="button-one m-0 button-one-fill button--2">More Details</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="d-flex flex-column justify-content-center align-items-center mb-4 flex-xl-row justify-content-xl-between">
            <div class="px-3 py-4 mb-4 mb-xl-0 bg-color-6 border-color-6 radius-30 service-item">
              <img alt="" src="./image/20230829063611.svg">
              <h3>Crafting Digital Experiences</h3>
              <p >Our creative team of designers and developers work in harmony to create visually stunning and responsive websites.</p>
              <a href="#" data-bs-toggle="modal" data-bs-target="#service-details">More Details</a>
            </div>
            <div class="px-3 py-4 bg-color-6 border-color-6 radius-30 service-item">
              <img alt="" src="./image/20230829063810.svg">
              <h3>Strategic Technology Guidance</h3>
              <p>Leverage our expertise through our consultancy services, where we offer insights and recommendations tailored to your business objectives.</p>
              <a href="#" data-bs-toggle="modal" data-bs-target="#service-details">More Details</a>
            </div>
          </div>
          <div class="d-flex border border-1 mt-3 flex-column flex-sm-row bg-color-6 border-color-6 radius-30 service-item-two">
            <img class="radius-30" alt="" src="./image/20230829062625.png">
            <div class="d-flex flex-column justify-content-center p-3 bg-color-6 radius-30">
              <h3>Crafting Innovative Solutions</h3>
              <p>Our expert software developers specialize in creating tailored software solutions that streamline your operations, enhance productivity, and propel your business forward.</p>
              <a href="#" data-bs-toggle="modal" data-bs-target="#service-details">More Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--END SERVICES CODE-->

  <!--TESTIMONIALS CODE-->
  <section class="pt-100 pb-100 testimonials" id="testimonials">
    <div class="container-lg">
      <div class="row">
        <div class="col text-center">
          <h3 class="fs-5 color-7">Testimonials</h3>
          <h2 class="fs-1 my-4 color-1"><span style="font-weight: normal;" class="color-6">Love</span> From Our Users</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="splide splide--slide splide--ltr splide--draggable is-active is-overflow is-initialized" role="group">
            <div class="splide__arrows splide__arrows--ltr">
              <button class="splide__arrow splide__arrow--prev" type="button" disabled>
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 40 40" width="40" height="40" focusable="false">
                  <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                  </path>
                </svg>
              </button>
              <button class="splide__arrow splide__arrow--next" type="button" >
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 40 40" width="40" height="40" focusable="false">
                  <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                  </path>
                </svg>
              </button>
            </div>
            <div class="splide__track splide__track--slide splide__track--ltr splide__track--draggable"  style="padding-left: 0px; padding-right: 0px;" >
              <ul class="splide__list" role="presentation" >
                <li class="splide__slide is-active is-visible">
                  <div class="slide-item">
                    <div class="d-flex flex-column justify-content-center align-items-center text-center">
                      <img class=" border border-1 rounded-circle p-2 mb-3 " alt="" src="./image/20230712085707.png">
                      <h3 class="color-7">Jennifer Thompson</h3>
                      <span>CEO, TechWave Innovations</span>
                      <span class="my-4 color-7">
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                      </span>
                      <p>Working with your software development team was a game-changer for us. The custom solutions you provided not only streamlined our operations but also opened new avenues for growth. Your commitment to excellence truly stands out.</p>
                    </div>
                  </div>
                </li>
                <li class="splide__slide is-next">
                  <div class="slide-item">
                    <div class="d-flex flex-column justify-content-center align-items-center text-center">
                      <img class=" border border-1 rounded-circle p-2 mb-3 " alt="" src="./image/20230712085707.png">
                      <h3 class="color-7">Jennifer Thompson</h3>
                      <span>CEO, TechWave Innovations</span>
                      <span class="my-4 color-7">
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                      </span>
                      <p>Working with your software development team was a game-changer for us. The custom solutions you provided not only streamlined our operations but also opened new avenues for growth. Your commitment to excellence truly stands out.</p>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="slide-item">
                    <div class="d-flex flex-column justify-content-center align-items-center text-center">
                      <img class=" border border-1 rounded-circle p-2 mb-3 " alt="" src="./image/20230712085707.png">
                      <h3 class="color-7">Jennifer Thompson</h3>
                      <span>CEO, TechWave Innovations</span>
                      <span class="my-4 color-7">
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                      </span>
                      <p>Working with your software development team was a game-changer for us. The custom solutions you provided not only streamlined our operations but also opened new avenues for growth. Your commitment to excellence truly stands out.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--END TESTIMONIALS CODE-->

  <!--WHYUS CODE-->
  <section class="pt-100 pb-100 whyus" id="portfolio">
    <div class="container-lg">
      <div class="row">
        <div class="col text-center">
          <h3 class="fs-5 color-7">Why Choose Us</h3>
          <h2 class="fs-1 my-4 color-1">Your Path to Exceptional Digital <span class="color-6">Solution</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-4 col-md-6 col-xl-3">
          <div class="card p-3 border border-1 rounded rounded-3 color-1 border-color-0">
            <div class="bg">
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
            </div>
            <div class="gradient"></div>
            <div class="card-content">
              <i class="fas fa-chalkboard d-flex justify-content-center align-items-center fs-3 i--3"></i>
              <h3 class="my-3 color-7">Unparalleled Mastery</h3>
              <p>Our adept team boasts expertise across software development, application design, security solutions, hosting, and web design.
                <br>
              </p>
            </div>
           </div>
        </div>
        <div class="col-12 mb-4 col-md-6 col-xl-3">
          <div class="card p-3 border border-1 rounded rounded-3 color-1 border-color-0">
            <div class="bg">
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
            </div>
            <div class="gradient"></div>
            <div class="card-content">
              <i class="fas fa-child d-flex justify-content-center align-items-center fs-3 i--4"></i>
              <h3 class="my-3 color-7">Your Success, Our Priority</h3>
              <p>We view our clients as partners. By fostering open communication and collaboration, we forge deep relationships that go beyond transactions.</p>
            </div>
           </div>
        </div>
        <div class="col-12 mb-4 col-md-6 col-xl-3">
          <div class="card p-3 border border-1 rounded rounded-3 color-1 border-color-0">
            <div class="bg">
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
            </div>
            <div class="gradient"></div>
            <div class="card-content">
              <i class="fas fa-crosshairs justify-content-center align-items-center fs-3 d-flex i--5"></i>
              <h3 class="my-3 color-7">Seamless Implementation</h3>
              <p>From conceptualization to deployment, our commitment to excellence shines through.</p>
            </div>
           </div>
        </div>
        <div class="col-12 mb-4 col-md-6 col-xl-3">
          <div class="card p-3 border border-1 rounded rounded-3 color-1 border-color-0">
            <div class="bg">
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
             <div class="tile"></div>
            </div>
            <div class="gradient"></div>
            <div class="card-content">
              <i class="fas fa-dove d-flex justify-content-center align-items-center fs-3 i--6"></i>
              <h3 class="my-3 color-7">Custom Craftsmanship</h3>
              <p>We pride ourselves on crafting bespoke solutions. Whether it's a software application, a website, or a security strategy.</p>
            </div>
           </div>
        </div>
      </div>
    </div>
  </section>
  <!--END WHYUS CODE-->


  <!--PORTFOLIO CODE-->
  <section class="pt-100 pb-100 portfolio">
    <div class="container-lg">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 px-5 px-xl-0">
          <h3 class="fs-5 color-7">Our Portfolio</h3>
          <h2 class="fs-1 my-4 color-1">Exploring Our
            <span class="color-6">Success</span> Stories</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-4 col-md-6 col-xl-3">
          <div class="d-flex flex-column align-items-start p-4 border border-1 rounded rounded-3 portfolio-item">
            <img alt="" src="./image/20230831073201.svg">
            <h3 class="my-3">NovaTech Innovations Website
              <br>
            </h3>
            <button data-bs-toggle="modal" data-bs-target="#portfolio-details" class="button-one button-one-fill mx-0 my-3 ">More Details</button>
          </div>
        </div>
        <div class="col-12 mb-3 col-md-6 col-xl-3">
          <div class="d-flex flex-column align-items-start p-4 border border-1 rounded rounded-3 portfolio-item">
            <img alt="" src="./image/20230831073825.svg">
            <h3 class="my-3">SynthiSys Solutions Website
              <br>
            </h3>
            <button data-bs-toggle="modal" data-bs-target="#portfolio-details" class="button-one button-one-fill mx-0 my-3 ">More Details</button>
          </div>
        </div>
        <div class="col-12 mb-3 col-md-6 col-xl-3">
          <div class="d-flex flex-column align-items-start p-4 border border-1 rounded rounded-3 portfolio-item">
            <img alt="" src="./image/20230831073823.svg">
            <h3 class="my-3">QuantumWave Technologies App
              <br>
            </h3>
            <button data-bs-toggle="modal" data-bs-target="#portfolio-details" class="button-one button-one-fill mx-0 my-3 ">More Details</button>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3 col-xl-3">
          <div class="d-flex flex-column align-items-start p-4 border border-1 rounded rounded-3 portfolio-item">
            <img alt="" src="./image/20230831073821.svg">
            <h3 class="my-3">NexusByte Systems Support
              <br>
            </h3>
            <button data-bs-toggle="modal" data-bs-target="#portfolio-details" class="button-one button-one-fill mx-0 my-3 ">More Details</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3 col-md-6 col-xl-3">
          <div class="d-flex flex-column align-items-start p-4 border border-1 rounded rounded-3 portfolio-item">
            <img alt="" src="./image/20230831073819.svg">
            <h3 class="my-3">InfinitiLogic Solutions Website
              <br>
            </h3>
            <button data-bs-toggle="modal" data-bs-target="#portfolio-details" class="button-one button-one-fill mx-0 my-3 ">More Details</button>
          </div>
        </div>
        <div class="col-12 mb-3 col-md-6 col-xl-3">
          <div class="d-flex flex-column align-items-start p-4 border border-1 rounded rounded-3 portfolio-item">
            <img alt="" src="./image/20230831073817.svg">
            <h3 class="my-3">VirtuTech Dynamics Application
              <br>
            </h3>
            <button data-bs-toggle="modal" data-bs-target="#portfolio-details" class="button-one button-one-fill mx-0 my-3 ">More Details</button>
          </div>
        </div>
        <div class="col-12 mb-3 col-md-6 col-xl-3">
          <div class="d-flex flex-column align-items-start p-4 border border-1 rounded rounded-3 portfolio-item">
            <img alt="" src="./image/20230831073815.svg">
            <h3 class="my-3">InnoSpectrum Technologies App
              <br>
            </h3>
            <button data-bs-toggle="modal" data-bs-target="#portfolio-details" class="button-one button-one-fill mx-0 my-3 ">More Details</button>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3 col-xl-3">
          <div class="d-flex flex-column align-items-start p-4 border border-1 rounded rounded-3 portfolio-item">
            <img alt="" src="./image/20230831073813.svg">
            <h3 class="my-3">PrismTech Ventures Security
              <br>
            </h3>
            <button data-bs-toggle="modal" data-bs-target="#portfolio-details" class="button-one button-one-fill mx-0 my-3 ">More Details</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--END PORTFOLIO CODE-->

  <!--CTA CODE-->
  <section class="cta">
    <div class="line"></div>
    <div class="pt-100 pb-100 cta-bg">
      <div class="container-lg">
        <div class="row">
          <div class="col text-center">
            <h3 class="fs-5 color-7">Seamless Transformation Awaits</h3>
            <h2 class="fs-1 my-4 color-1">Elevate Your Journey in 3
              <span style="font-weight: normal;" class="color-6">Simple</span> Steps</h2>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 mb-5 col-lg-4 mb-lg-0">
            <div class="d-flex flex-column text-center text-lg-start cta-item">
              <span class="fs-1 border rounded-circle d-flex justify-content-center align-items-center border-3 m-auto m-lg-0 mb-lg-4 mb-4">1</span>
              <h3 class="px-2 py-2 ">Discover Tailored Solutions</h3>
              <p class="px-2">Begin your journey by exploring our range of cutting-edge services. From software development to web design, we offer a diverse array of solutions designed to meet your specific needs.</p>
            </div>
          </div>
          <div class="col-12 mb-5 col-lg-4 mb-lg-0">
            <div class="d-flex flex-column text-center text-lg-start cta-item">
              <span class="fs-1 border rounded-circle d-flex justify-content-center align-items-center mb-4 border-3 m-auto m-lg-0 mb-lg-4">2</span>
              <h3 class="px-2 py-2 ">
                <strong>Partner in Innovation</strong>
              </h3>
              <p class="px-2">Work hand in hand with our team of experts. Through open collaboration, we'll refine your vision, ensuring that your digital solutions are not only comprehensive but also customized to perfection.</p>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="d-flex flex-column text-center text-lg-start cta-item">
              <span class="fs-1 border rounded-circle d-flex justify-content-center align-items-center mb-4 border-3 m-auto m-lg-0 mb-lg-4">3</span>
              <h3 class="px-2 py-2 ">Witness Your Vision Unfold</h3>
              <p class="px-2">Experience the power of technology as we bring your ideas to life. With meticulous execution, we'll transform your concepts into tangible results, setting you on a path to digital success.</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-5">
          <button class="button-one m-0 button-one-fill button--1">GET IN TOUCH</button>
        </div>
      </div>
    </div>
    <div class="line"></div>
  </section>
  <!--END CTA CODE-->

  <!--FAQ CODE-->
  <section class="pt-100 pb-100">
    <div class="container-lg">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 px-5 px-xl-0">
          <h3 class="fs-5 color-7">Frequently Asked Questions</h3>
          <h2 class="fs-1 my-4 color-1">
            <span class="color-6">Answers</span> To Your Queries</h2>
        </div>
      </div>
      <div class="row d-flex flex-column-reverse flex-lg-row justify-content-md-start justify-content-sm-center align-items-sm-center justify-content-center">
        <div class="col col-sm-12 col-lg-6">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">What services does your company offer?</button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  We offer a wide range of services, including software development, application development, security solutions, hosting services, and web design. Our expertise spans various technology domains, ensuring we can meet your diverse needs.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">How do I get a quote for my project?</button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  To get a project quote, simply reach out to our team through our contact page or by using the "Get in Touch" button. Provide us with details about your project, and our experts will get back to you promptly with a personalized quote.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">What sets your company apart from the competition?</button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  We stand out through our commitment to excellence, innovation, and client collaboration. Our tailored solutions, diverse expertise, and client-centric approach ensure we not only meet but exceed expectations.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">What sets your company apart from the competition?</button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Yes, we have a comprehensive portfolio that showcases our past projects. You can explore these success stories on our website to get a glimpse of the quality and diversity of our work.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-sm-9 col-lg-6 mb-4 m-lg-0">
          <img class=" w-100 border border-1 rounded rounded-3 shadow border-color-6" alt="" src="./image/20230902064358.png">
        </div>
      </div>
    </div>
  </section>
  <!--END FAQ CODE-->


  <!--PARTNERSHIP LOGOS CODE-->
  <section class="pb-100 pt-100">
    <div class="container-lg">
      <div class="row">
        <div class="d-flex justify-content-center align-items-center col-6 mb-3 col-md-3">
          <img class="w-100" alt="" src="./image/20230902064645.svg">
        </div>
        <div class="d-flex justify-content-center align-items-center col-6 mb-3 col-md-3">
          <img class="w-100" alt="" src="./image/20230902064652.svg">
        </div>
        <div class="d-flex justify-content-center align-items-center col-6 mb-3 col-md-3">
          <img class="w-100" alt="" src="./image/20230902064650.svg">
        </div>
        <div class="d-flex justify-content-center align-items-center col-6 mb-3 col-md-3">
          <img class=" w-100" alt="" src="./image/20230902064648.svg">
        </div>
      </div>
    </div>
  </section>
  <!--END PARTNERSHIP LOGOS CODE-->


  <!--CONTACT CODE-->
  <section class="contact" id="contact">
    <div class="container-lg">
      <div class="row">
        <div class="col text-center pt-100">
          <h3 class="fs-5 color-7">Contact Us</h3>
          <h2 class="fs-1 my-4 color-1">Reach Out To Us
            <span style="font-weight: normal;" class="color-6">Today</span></h2>
        </div>
      </div>
    </div>
    <div class="pb-100 container-lg">
      <form action="#">
        <div class="row">
          <div class="col-12 p-4 col-md-6">
            <label for="email" class="form-label">Email address</label>
            <input name="email" id="email" class="form-control" type="text" placeholder="EMAIL">
          </div>
          <div class="col p-4">
            <label for="name" class="form-label">Name</label>
            <input name="name" id="name" class="form-control" type="text" placeholder="Your Name">
          </div>
        </div>
        <div class="row">
          <div class="col p-4">
            <label for="message" class="form-label">Message</label>
            <textarea name="message" id="message" class="form-control" placeholder="Your Message" style="height: 244px;">
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center p-4">
            <button class="button-one m-0 button-one-fill button--1">SUBMIT</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!--END CONTACT CODE-->

  <!--FOOTER CODE-->
  <footer class="footer">
    <div class="pt-100 footer-bg">
      <div class="container-lg">
        <div class="row">
          <div class="col text-center pb-100 border-bottom border-1">
            <h2 class="fs-1 color-1">Ready to Transform Your Digital Experience?</h2>
            <p class="fs-3 my-4">Explore how our expertise can propel your business into the future. Contact us today for a consultation that will revolutionize the way you do technology. Let's innovate together!</p>
            <button class="button-one m-0 button-one-fill button--1">GET IN TOUCH</button>
          </div>
        </div>
        <div class="row py-5 border-bottom d-flex flex-column flex-md-row border-color-7">
          <div class="col d-flex justify-content-center align-items-center">
            <img alt="" src="./image/20230712065533.svg">
          </div>
          <div class="col text-center mb-4 text-md-start">
            <span class="fs-4 color-6">LINKS</span>
            <ul class="list-unstyled footer-menu">
              <li>
                <a href="#">Services</a>
              </li>
              <li>
                <a href="#">CTA</a>
              </li>
              <li>
                <a href="#">FAQs</a>
              </li>
            </ul>
          </div>
          <div class="col text-center mb-4 text-md-start">
            <span class="fs-4 color-6">ABOUT</span>
            <ul class="list-unstyled footer-menu">
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Why Us?</a>
              </li>
            </ul>
          </div>
          <div class="col text-center mb-4 text-md-start">
            <span class="fs-4 color-6">SUPPORT</span>
            <ul class="list-unstyled footer-menu">
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col text-center text-md-start">
            <span class="fs-4 color-6">FOLLOW US</span>
            <ul class="menu-social-icons d-flex align-items-center list-unstyled fs-2 justify-content-between mt-3 footer-menu">
              <li>
                <a href="#">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-google-plus-square"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-telegram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row py-3">
          <div class="col d-flex align-items-center">
            <span>All Rights Reserved © WEBIOX 2023</span>
          </div>
          <div class="col d-flex justify-content-end">
            <a href="#" class="color-7">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--FOOTER CODE-->


  <!--Service Details Modals -->
  <div class="modal fade" id="service-details" tabindex="-1" >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content service-details position-relative">
        <a class="close" data-bs-dismiss="modal"><i class="fas fa-times"></i></a>
        <div class="d-flex border border-1 flex-column flex-xl-row border-color-6 radius-30 details-content">
          <img class="radius-30" alt="" src="./image/details.png">
          <div class="d-flex flex-column justify-content-center p-3 py-5 radius-30 ">
            <h3 class="color-7 fs-1 m-0">Transform Your Mobile Experience with Webiox</h3>
            <p class="my-4">At Webiox, we're passionate about crafting mobile experiences that captivate and engage users while optimizing performance and functionality. Whether you're looking to develop a cutting-edge mobile app from scratch, enhance the performance of your existing app, or give your app a fresh new look, our team of experts is here to transform your vision into reality.</p>
            <div class="details-offer p-3 radius-30 color-6">
              <div>
                <i class="fas fa-check-circle"></i>
                <span>Custom Mobile App Development</span>
              </div>
              <div>
                <i class="fas fa-check-circle"></i>
                <span>Performance Optimization</span>
              </div>
              <div>
                <i class="fas fa-check-circle"></i>
                <span>App Redesign and Modernization</span>
              </div>
              <div>
                <i class="fas fa-check-circle"></i>
                <span>Cross-Platform App Development</span>
              </div>
              <div>
                <i class="fas fa-check-circle"></i>
                <span>User-Centric Design</span>
              </div>
              <div>
                <i class="fas fa-check-circle"></i>
                <span>Maintenance and Support</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--Portfolio Details Modals -->
  <div class="modal fade" id="portfolio-details" tabindex="-1" >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content portfolio-details position-relative">
        <a href="#" class="close" data-bs-dismiss="modal"><i class="fas fa-times"></i></a>
        <div class="d-flex border border-1 flex-column flex-xl-row border-color-6 radius-30 details-content">
          <img class="radius-30" alt="" src="./image/portfolio-detail.png">
          <div class="d-flex flex-column justify-content-center p-3 py-5 radius-30 ">
            <h3 class="color-7 fs-1 m-0">Crafting Sinex Website Showcase</h3>
            <p class="my-4">we take pride in crafting stunning websites that not only showcase your work but also leave a lasting impression on your audience. Our portfolio websites are designed with precision and creativity, reflecting your unique brand identity and artistic vision. Below are some key details about our web design process and the technologies we utilize.</p>
            <div class="d-flex flex-column p-3 radius-30 color-1">
              <div>
                <span>Type : </span>
                <span>Website</span>
              </div>
              <div class="mt-2">
                <span>Features : </span>
                <span>
                  <span class="badge bg-color-1 color-6">responsive</span>
                  <span class="badge bg-color-1 color-6">RTL</span>
                  <span class="badge bg-color-1 color-6">valid code</span>
                  <span class="badge bg-color-1 color-6">SEO</span>
                </span>
              </div>
              <button class="button-one mt-3 button-one-fill button--2">Website</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>