.div--4 {
  background-color: var(--asoop-color-3);
}

.div--1 {
  background-color: var(--asoop-color-1);
}

.div--3 {
  background-color: var(--asoop-color-4);
}

.div--2 {
  background-color: var(--asoop-color-3);
}

.div {
  background-color: var(--asoop-color-2);
}

.span {
  background-color: var(--asoop-color-4);
}
