:root {
  --asoop-color-0: 230, 233, 238;
  --asoop-color-1: 30, 31, 36;
  --asoop-color-2: 203, 93, 22;
}
ol, ul {
  list-style: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.asoop-button-one {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: var(--color);
  transition: 0.25s;
  cursor: pointer;
}
.asoop-button-one:hover, .asoop-button-one:focus {
  border-color: var(--hover);
  color: #fff;
}
.asoop-button-one-fill:hover, .asoop-button-one-fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}
.asoop-button-one-pulse:hover, .asoop-button-one-pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  
}
}
.asoop-button-one-close:hover, .asoop-button-one-close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}
.asoop-button-one-raise:hover, .asoop-button-one-raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.asoop-button-one-up:hover, .asoop-button-one-up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}
.asoop-button-one-slide:hover, .asoop-button-one-slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}
.asoop-button-one-offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.asoop-button-one-offset:hover, .asoop-button-one-offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.asoop-button-one-fill {
  --color: #a972cb;
  --hover: #cb72aa;
}
.asoop-button-one-pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}
.asoop-button-one-close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}
.asoop-button-one-raise {
  --color: #ffa260;
  --hover: #e5ff60;
}
.asoop-button-one-up {
  --color: #e4cb58;
  --hover: #94e458;
}
.asoop-button-one-slide {
  --color: #8fc866;
  --hover: #66c887;
}
.asoop-button-one-offset {
  --color: #19bc8b;
  --hover: #1973bc;
}
.h1--4 {
  font-size: 30px;
}
.div--23 {
  background: linear-gradient(90deg, rgba(var(--asoop-color-2), 0) 0%, rgba(var(--asoop-color-2)) 100%);
}
.div--10 {
  height: 500px;
  background-size: cover;
  background-image: url("./../../image/20230101093600.jpg");
}
.h1--9 {
  font-size: 30px;
}
.div--22 {
  background: linear-gradient(90deg, rgba(var(--asoop-color-2), 0) 0%, rgba(var(--asoop-color-2)) 100%);
}
.div--21 {
  height: 500px;
  background-image: url("./../../image/20230101093600.jpg");
  background-size: cover;
}
.h1--8 {
  font-size: 30px;
}
.div--20 {
  background: linear-gradient(90deg, rgba(var(--asoop-color-2), 0) 0%, rgba(var(--asoop-color-2)) 100%);
}
.div--19 {
  height: 500px;
  background-image: url("./../../image/20230101093606.jpg");
  background-size: cover;
}
.h1--7 {
  font-size: 30px;
}
.div--18 {
  background: linear-gradient(90deg, rgba(var(--asoop-color-2), 0) 0%, rgba(var(--asoop-color-2)) 100%);
}
.div--14 {
  height: 500px;
  background-image: url("./../../image/20230101093603.jpg");
  background-size: cover;
}
.h1--6 {
  font-size: 30px;
}
.div--13 {
  background: linear-gradient(90deg, rgba(205, 94, 23, 0.2) 0%, rgba(var(--asoop-color-2)) 100%);
}
.div--12 {
  height: 500px;
  background-image: url("./../../image/20230101093609.jpg");
  background-size: cover;
}
.h1--5 {
  font-size: 30px;
}
.div--11 {
  background: linear-gradient(90deg, rgba(var(--asoop-color-2), 0.01) 0%, rgba(var(--asoop-color-2)) 100%);
}
.div--7 {
  height: 500px;
  background-size: cover;
  background-image: url("./../../image/20230101093611.jpg");
}
.button--4:hover {
  color: rgba(var(--asoop-color-0));
}
.button--4 {
  --color: rgba(var(--asoop-color-1));
  --hover: rgba(var(--asoop-color-1));
}
.button--2:hover {
  color: rgba(var(--asoop-color-0));
}
.button--2 {
  --color: rgba(var(--asoop-color-2));
  --hover: rgba(var(--asoop-color-2));
}
* {
  font-family: Ganjnameh;
}
.nav {
  border-color: rgba(var(--asoop-color-1)) !important;
}
.section {
  background-color: rgba(var(--asoop-color-1));
  color: rgba(var(--asoop-color-0));
}
.nav .asoop-navbar-two-menu li a {
  color: var(--asoop-color-0);
}
.nav .asoop-navbar-two-menu .menu-item-has-children > ul li a {
  color: var(--asoop-color-1);
}
.button {
  --hover: rgba(var(--asoop-color-2));
  --color: rgba(var(--asoop-color-2));
}
.button:hover {
  color: rgba(var(--asoop-color-0));
}
.nav li a:hover {
  color: var(--asoop-color-2);
}
.img {
  height: 120px;
}
.h1 {
  color: var(--asoop-color-0);
  font-size: 96px;
  line-height: 171px;
}
.span {
  color: var(--asoop-color-2);
}
.container {
  margin-top: 160px;
}
.p {
  color: var(--asoop-color-0);
  text-align: justify;
  direction: rtl;
  font-size: 14px;
  line-height: 30px;
}
.a {
  color: var(--asoop-color-2);
}
.div--1 {
  background: linear-gradient(0deg, var(--asoop-color-3) 8%, var(--asoop-color-0) 43%);
}
.section--1 {
  padding-top: 300px;
  background-color: rgba(var(--asoop-color-0));
  padding-bottom: 450px;
}
.div--4 {
  height: 100px;
  width: 100px;
  background-color: rgba(var(--asoop-color-1));
  color: var(--asoop-color-0);
  font-size: 55px;
}
.div--5 {
  text-align: justify;
  direction: rtl;
  border-color: var(--asoop-color-2) !important;
  height: 416px;
}
.row--3 {
  border-color: var(--asoop-color-2) !important;
  margin-top: 100px;
}
.img--2 {
  height: 110px;
}
.section--2 {
  padding-bottom: 400px;
  background-image: url("./../../image/20230107140727.jpg");
  background-size: contain;
  background-position: center center;
  color: rgba(var(--asoop-color-0));
}
.div--6 {
  height: 487px;
  width: 700px;
  top: 0px;
  left: -20%;
  direction: rtl;
  border-color: var(--asoop-color-1) !important;
  margin-left: -100%;
  color: rgba(var(--asoop-color-1));
}
.button--1 {
  --color: rgba(var(--asoop-color-2));
  --hover: rgba(var(--asoop-color-2));
}
.button--1:hover {
  color: rgba(var(--asoop-color-0));
}
.container--3 {
  margin-top: 200px;
  color: var(--asoop-color-0);
  z-index: 2;
}
.h1--1 {
  font-size: 69px;
}
.p--3 {
  line-height: 38px;
  font-size: 14px;
}
.section--3 {
  background-color: rgba(var(--asoop-color-0));
}
.img--4 {
  top: 0px;
  left: 0px;
  z-index: 1;
}
.row--6 {
  margin-top: 150px;
}
.h1--2 {
  font-size: 62px;
}
.p--4 {
  line-height: 42px;
}
.button--3 {
  --color: rgba(var(--asoop-color-2));
  --hover: rgba(var(--asoop-color-2));
}
.button--3:hover {
  color: rgba(var(--asoop-color-0));
}
.col--2 {
  border-color: var(--asoop-color-2) !important;
}
.ul--1 li {
  margin-left: 25px;
  margin-right: 0px;
}
.ul a:hover {
  color: rgba(var(--asoop-color-2));
}
.section--4 {
  background-color: rgba(var(--asoop-color-0));
}
.container--5 {
  margin-top: 350px;
}
.container--4 {
  margin-top: 200px;
  margin-bottom: -700px;
  z-index: 2;
}
.section--2::after {
  background-color: rgba(205, 94, 23, 0.84);
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0px;
}
.container--1 {
  margin-top: 150px;
  margin-bottom: -500px;
}
.container--6 {
  margin-top: 215px;
  margin-bottom: 72px;
}
.row--4 {
  z-index: 2;
  background: linear-gradient(0deg, var(--asoop-color-3) 8%, var(--asoop-color-0) 43%);
}
.div--16 {
  background-image: url("./../../image/20221229174621.jpg");
  background-size: cover;
  height: 800px;
  background-position: center center;
}
.container--2 {
  margin-top: -500px;
}
.div--8 {
  height: 500px;
  background-size: cover;
}
.div--9 {
  background: linear-gradient(0deg, var(--asoop-color-3) 8%, var(--asoop-color-0) 43%);
}
.row--8 {
  color: rgba(var(--asoop-color-0));
}
.div--17 {
  color: rgba(var(--asoop-color-1));
}
.i {
  color: rgba(var(--asoop-color-0));
}
.nav .asoop-navbar-two-menu .menu-item-has-children > ul li a {
  color: rgba(var(--asoop-color-1));
}
.img--5 {
  height: 80px;
  background-color: white;
}
.h1--3 {
  color: var(--asoop-color-1);
}
.button--5 {
  --color: rgba(var(--asoop-color-2));
  --hover: rgba(var(--asoop-color-2));
}
.button--5:hover {
  color: rgba(var(--asoop-color-0));
}
.ul a {
  color: rgba(var(--asoop-color-1));
}
.ul li {
  margin-top: 20px;
}
.ul {
  font-size: 14px;
}
.ul a {
  color: var(--asoop-color-1);
}
.ul li:hover {
  color: rgba(var(--asoop-color-2));
}
.ul li {
  margin-top: 20px;
}
.ul {
  font-size: 14px;
}
.ul a {
  color: var(--asoop-color-1);
}
.ul li:hover {
  color: var(--asoop-color-2) !important;
}
.ul li {
  margin-top: 20px;
}
.ul {
  font-size: 14px;
}
.ul a {
  color: var(--asoop-color-1);
}
.ul li:hover {
  color: var(--asoop-color-2) !important;
}
.ul li {
  margin-top: 20px;
}
.ul {
  font-size: 14px;
}
.li {
  height: 50px;
  width: 50px;
  background-color: white;
}
.a--1 {
  color: var(--asoop-color-1);
}
.a--1:hover {
  color: var(--asoop-color-2) !important;
}
.li {
  height: 50px;
  width: 50px;
  background-color: white;
}
.a--1 {
  color: var(--asoop-color-1);
}
.a--1:hover {
  color: var(--asoop-color-2) !important;
}
.li {
  height: 50px;
  width: 50px;
  background-color: white;
}
.a--1 {
  color: var(--asoop-color-1);
}
.a--1:hover {
  color: var(--asoop-color-2) !important;
}
.li {
  height: 50px;
  width: 50px;
  background-color: white;
}
.a--1 {
  color: var(--asoop-color-1);
}
.a--1:hover {
  color: var(--asoop-color-2) !important;
}
.p--5 {
  color: var(--asoop-color-1);
  font-size: 12px;
}
.ul--2 a {
  color: #bcbcbc;
}
.ul--2 a:hover {
  color: var(--asoop-color-2);
}
.ul--2 {
  font-size: 14px;
}
@media screen and (min-width: 992px) {
     .asoop-navbar-two {
       display: flex;
       width: 100%;
       height: 100px;
       text-align: right;
       border-bottom: 2px solid black;
       align-items: center;
     
   }
     .asoop-navbar-two ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
     
   }
     .asoop-navbar-two ul li {
       padding: 20px;
     
   }
     .asoop-navbar-two .logo {
       display: flex;
       height: 100px;
       flex-basis: 200px;
     
   }
     .asoop-navbar-two-menu {
       margin-left: auto !important;
     
   }
     .asoop-navbar-two-menu > ul {
       display: flex;
       flex-direction: row-reverse;
     
   }
     .asoop-navbar-two ul a {
       text-shadow: none;
       font-weight: 400;
       color: #000;
       text-decoration: none;
     
   }
     .asoop-navbar-two .logo img {
       max-width: 100%;
       max-height: 100%;
     
   }
     .asoop-navbar-two-menu .menu-item-has-children {
       position: relative;
     
   }
     .asoop-navbar-two-menu > ul > .menu-item-has-children > a::before {
       position: relative;
       font-style: normal;
       font-variant: normal;
       text-rendering: auto;
       line-height: 1;
       content: "\f107";
       font-size: 16px;
       font-weight: 900;
       font-family: "Font Awesome 5 Free";
       margin-right: 10px;
     
   }
     .asoop-navbar-two-menu .menu-item-has-children > ul .menu-item-has-children > a::after {
       position: absolute;
       font-style: normal;
       font-variant: normal;
       text-rendering: auto;
       line-height: 1;
       content: "\f104";
       font-size: 16px;
       font-weight: 900;
       left: 15px;
       font-family: "Font Awesome 5 Free";
       top: 50%;
       transform: translate(0, -50%);
     
   }
     .asoop-navbar-two-menu > ul > .menu-item-has-children > ul {
       position: absolute;
       margin-top: 30px;
       width: 200px;
       background-color: white;
       box-shadow: 1px -2px 5px #d0cdcd;
       left: 50%;
       transform: translateX(-50%) translateY(6px);
       visibility: hidden;
       opacity: 0;
       transition: 0.2s;
     
   }
     .asoop-navbar-two-menu > ul > .menu-item-has-children .menu-item-has-children > ul {
       position: absolute;
       width: 200px;
       background-color: white;
       box-shadow: 1px -2px 5px #d0cdcd;
       visibility: hidden;
       opacity: 0;
       transition: 0.2s;
       right: 102%;
     
   }
     .asoop-navbar-two-menu > ul > .menu-item-has-children:hover > ul {
       opacity: 1;
       visibility: visible;
       margin-top: 20px;
     
   }
     .asoop-navbar-two-menu > ul > .menu-item-has-children .menu-item-has-children:hover > ul {
       opacity: 1;
       visibility: visible;
       margin-top: -30px;
     
   }
     .asoop-navbar-two .menu-item-has-children > ul li {
       display: block;
       clear: both;
       width: 100%;
       padding: 12px 0px;
     
   }
     .asoop-navbar-two .menu-item-has-children > ul li a {
       width: 100%;
       padding: 10px 20px;
     
   }
     .asoop-navbar-two-icon {
       display: none !important;
       margin: 20px;
       font-size: 30px;
       color: black;
     
   }
     .asoop-navbar-two-close-icon {
       display: none;
     
   }
     .asoop-navbar-two.left {
       text-align: left;
     
   }
     .asoop-navbar-two.left .asoop-navbar-two-menu > ul {
       display: flex;
       flex-direction: row;
     
   }
     .asoop-navbar-two.left .asoop-navbar-two-menu > ul > .menu-item-has-children > a::before {
       content: "";
       margin-right: 0;
     
   }
     .asoop-navbar-two.left .asoop-navbar-two-menu > ul > .menu-item-has-children > a::after {
       position: relative;
       font-style: normal;
       font-variant: normal;
       text-rendering: auto;
       line-height: 1;
       content: "\f107";
       font-size: 16px;
       font-weight: 900;
       font-family: "Font Awesome 5 Free";
       margin-left: 10px;
     
   }
     .asoop-navbar-two.left .asoop-navbar-two-menu .menu-item-has-children > ul .menu-item-has-children > a::after {
       line-height: 1;
       content: "";
       font-size: 0;
       right: 0;
     
   }
     .asoop-navbar-two.left .asoop-navbar-two-menu .menu-item-has-children > ul .menu-item-has-children > a::before {
       position: absolute;
       font-style: normal;
       font-variant: normal;
       text-rendering: auto;
       line-height: 1;
       content: "\f105";
       font-size: 16px;
       font-weight: 900;
       right: 15px;
       font-family: "Font Awesome 5 Free";
       top: 50%;
       transform: translate(0, -50%);
     
   }
     .asoop-navbar-two.left .asoop-navbar-two-menu > ul > .menu-item-has-children .menu-item-has-children > ul {
       left: 102%;
     
   }
}
@media screen and (max-width: 991px) {
     .asoop-navbar-two {
       display: flex;
       height: 80px;
       padding: 0 20px;
     
   }
     .asoop-navbar-two-menu {
       position: absolute;
       display: flex;
       flex-direction: column;
       width: 0;
       min-height: 100%;
       height: auto;
       background: white;
       box-shadow: 1px -2px 5px #d0cdcd;
       right: 0;
       transition: 0.1s;
     
   }
     .asoop-navbar-two-menu > * {
       visibility: hidden;
       opacity: 0;
     
   }
     .asoop-navbar-two-menu.show {
       width: 80%;
     
   }
     .asoop-navbar-two-menu.show > * {
       visibility: visible;
       opacity: 1;
     
   }
     .asoop-navbar-two .logo {
       margin-right: auto !important;
     
   }
     .asoop-navbar-two .logo img {
       max-width: 100%;
       max-height: 100%;
     
   }
     .asoop-navbar-two-icon {
       font-size: 26px;
       color: black;
     
   }
     .asoop-navbar-two-close-icon {
       position: relative;
       margin: 20px 20px 20px 20px;
       font-size: 26px;
       color: black;
       width: 18px;
     
   }
     .asoop-navbar-two ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
     
   }
     .asoop-navbar-two-menu > ul {
       padding: 0 20px;
     
   }
     .asoop-navbar-two ul li {
       padding: 10px 0px;
     
   }
     .asoop-navbar-two ul a {
       text-shadow: none;
       font-weight: 400;
       color: #000;
       text-decoration: none;
       width: 100%;
       display: block;
       text-align: right;
     
   }
     .asoop-navbar-two-menu .menu-item-has-children {
       position: relative;
     
   }
     .asoop-navbar-two-menu .menu-item-has-children > a::after {
       position: absolute;
       font-style: normal;
       font-variant: normal;
       text-rendering: auto;
       line-height: 1;
       content: "\f104";
       font-size: 16px;
       font-weight: 900;
       left: 0px;
       font-family: "Font Awesome 5 Free";
     
   }
     .asoop-navbar-two-menu .menu-item-has-children > ul {
       position: relative;
       background-color: white;
       transition: all 0.25s ease-in;
       max-height: 0;
       visibility: hidden;
       opacity: 0;
     
   }
     .asoop-navbar-two-menu .menu-item-has-children > ul.show {
       max-height: 500px;
       visibility: visible;
       opacity: 1;
     
   }
     .asoop-navbar-two.left ul a {
       text-align: left;
     
   }
     .asoop-navbar-two.left .asoop-navbar-two-close-icon {
       margin: 20px 20px 20px auto;
       right: 0;
     
   }
     .asoop-navbar-two.left .menu-item-has-children > a::after {
       content: "";
     
   }
     .asoop-navbar-two.left .menu-item-has-children > a::before {
       position: absolute;
       font-style: normal;
       font-variant: normal;
       text-rendering: auto;
       line-height: 1;
       content: "\f105";
       font-size: 16px;
       font-weight: 900;
       right: 0px;
       font-family: "Font Awesome 5 Free";
     
   }
     .i--1 {
       color: var(--asoop-color-0);
     
   }
     .button {
       margin-top: 80px;
     
   }
     .nav .asoop-navbar-two-menu .menu-item-has-children > ul li a {
       color: var(--asoop-color-4);
     
   }
     .nav .asoop-navbar-two-menu .menu-item-has-children > ul li a {
       color: var(--asoop-color-3);
     
   }
     .nav .asoop-navbar-two-menu .menu-item-has-children > ul li a {
       color: var(--asoop-color-4);
     
   }
     .nav .asoop-navbar-two-menu .menu-item-has-children > ul li a {
       color: var(--asoop-color-2);
     
   }
     .nav .asoop-navbar-two-menu li a {
       color: var(--asoop-color-1);
     
   }
}
@media screen and (max-width: 1199px) {
     .div--8 {
       background-image: unset;
     
   }
     .div--6 {
       inset: 74px 0px 0px 130px;
       margin-left: 0%;
     
   }
}
@media screen and (max-width: 575px) {
     .container {
       margin-top: 110px;
     
   }
     .div--6 {
       height: unset;
     
   }
     .container--6 {
       margin-top: 0px;
     
   }
     .container--1 {
       margin-top: 100px;
       margin-bottom: -300px;
     
   }
}