:root {
  --asoop-color-1: rgb(188, 236, 224);
  --asoop-color-2: rgb(54, 238, 224);
  --asoop-color-3: rgb(246, 82, 160);
  --asoop-color-4: rgb(76, 82, 112);
}
.header-list li {
  color: var(--asoop-color-4);
}
.header-list li:hover {
  color: var(--asoop-color-3);
}
.header-list-2 li {
  color: var(--asoop-color-4);
}
.header-list-2 li:hover {
  color: var(--asoop-color-3);
}
.header {
  z-index: 10;
  background-color: var(--asoop-color-1);
}
.header-list-1 li:hover {
  color: var(--asoop-color-3);
}
.header-list-1 li {
  color: var(--asoop-color-4);
}
* {
  font-family: Work Sans;
}
.ul-1 li {
  color: var(--asoop-color-4);
}
.ul-1 li:hover {
  color: var(--asoop-color-3);
}
.footer-b-1 {
  color: var(--asoop-color-4);
}
.footer-list-1 li {
  color: var(--asoop-color-4);
}
.footer-list-1 a {
  color: var(--asoop-color-4);
}
.footer-list-1 a:hover {
  color: var(--asoop-color-3);
}
.footer-list a:hover {
  color: var(--asoop-color-3);
}
.footer-list a {
  color: var(--asoop-color-4);
}
.footer-link-2:hover {
  color: #606060;
}
.footer-list-item-2 {
  height: 50px;
  width: 50px;
}
.footer-link-1:hover {
  color: #606060;
}
.footer-list-item-1 {
  height: 50px;
  width: 50px;
}
.footer-link:hover {
  color: #606060;
}
.footer-link4:hover {
  color: #606060;
}
.footer-list-item {
  height: 50px;
  width: 50px;
}
.footer-link-14:hover {
  color: #606060;
}
.footer-list-item-6 {
  height: 50px;
  width: 50px;
}
.footer-list-3 a:hover {
  color: var(--asoop-color-3);
}
.footer-list-3 li:hover {
  color: var(--asoop-color-3);
}
.footer-list-3 a {
  color: var(--asoop-color-4);
}
.footer-img-1 {
  height: 80px;
  width: 80px;
  display: block;
}
.footer {
  background-color: var(--asoop-color-1);
  color: var(--asoop-color-4);
}
.footer-list-2 a:hover {
  color: var(--asoop-color-3);
}
.footer-list-2 a {
  color: var(--asoop-color-4);
}
.footer-list-2 li {
  color: var(--asoop-color-4);
}
.footer-list-1 a {
  color: var(--asoop-color-4);
}
.footer-list-1 a:hover {
  color: var(--asoop-color-3);
}
.footer-link-3:hover {
  color: #606060;
}
.footer-link-2:hover {
  color: #606060;
}
.footer-link-1:hover {
  color: #606060;
}
.ul-1 a:hover {
  color: var(--asoop-color-3);
}
.ul-1 a {
  color: var(--asoop-color-4);
}
.ul-2 li {
  color: var(--asoop-color-4);
}
.ul-2 a {
  color: var(--asoop-color-4);
}
.ul-2 a:hover {
  color: var(--asoop-color-3);
}
* {
  font-family: Montserrat;
}
ol, ul {
  list-style: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.asoop-button-one {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: var(--color);
  transition: 0.25s;
  cursor: pointer;
}
.asoop-button-one:hover, .asoop-button-one:focus {
  border-color: var(--hover);
  color: #fff;
}
.asoop-button-one-fill:hover, .asoop-button-one-fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}
.asoop-button-one-pulse:hover, .asoop-button-one-pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  
}
}
.asoop-button-one-close:hover, .asoop-button-one-close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}
.asoop-button-one-raise:hover, .asoop-button-one-raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.asoop-button-one-up:hover, .asoop-button-one-up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}
.asoop-button-one-slide:hover, .asoop-button-one-slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}
.asoop-button-one-offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.asoop-button-one-offset:hover, .asoop-button-one-offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
.asoop-button-one-fill {
  --color: #a972cb;
  --hover: #cb72aa;
}
.asoop-button-one-pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}
.asoop-button-one-close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}
.asoop-button-one-raise {
  --color: #ffa260;
  --hover: #e5ff60;
}
.asoop-button-one-up {
  --color: #e4cb58;
  --hover: #94e458;
}
.asoop-button-one-slide {
  --color: #8fc866;
  --hover: #66c887;
}
.asoop-button-one-offset {
  --color: #19bc8b;
  --hover: #1973bc;
}
.asoop-navbar-three {
  height: 100px;
  position: relative;
  border-bottom: 1px solid gray;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.asoop-navbar-three > ul {
  display: flex;
  margin-bottom: 0;
  width: 25%;
}
.asoop-navbar-three > ul > li {
  overflow: hidden;
}
.asoop-navbar-three .logo {
  display: flex;
  align-items: center;
}
.asoop-navbar-three .logo img {
  height: 60px;
}
.asoop-navbar-three a {
  text-decoration: none;
  color: var(--dark);
  font-size: 0.8em;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.asoop-navbar-three .asoop-navbar-three-bars {
  display: none;
}
.asoop-navbar-three .top-down-effect a:before,.asoop-navbar-three .top-down-effect a:after {
  position: absolute;
}
.asoop-navbar-three .top-down-effect a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.asoop-navbar-three .top-down-effect a:after {
  padding: 0.3em 0;
  position: absolute;
  content: attr(data-hover);
  color: red;
  bottom: 100%;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
}
.asoop-navbar-three .top-down-effect li:hover a,.asoop-navbar-three .top-down-effect .current a {
  transform: translateY(100%);
}
.asoop-navbar-three .left-right-effect a:before,.asoop-navbar-three .left-right-effect a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.asoop-navbar-three .left-right-effect a:before {
  right: 100%;
  display: block;
  width: 3px;
  height: 100%;
  content: "";
  background-color: #f39c12;
}
.asoop-navbar-three .left-right-effect a:after {
  padding: 0 0.5em 0 0.2em;
  position: absolute;
  right: 100%;
  top: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.asoop-navbar-three .left-right-effect li:hover a,.asoop-navbar-three .left-right-effect .current a {
  transform: translateX(100%);
}
.asoop-navbar-three .down-top-effect a:before,.asoop-navbar-three .down-top-effect a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.asoop-navbar-three .down-top-effect a:before {
  top: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #c0392b;
}
.asoop-navbar-three .down-top-effect a:after {
  padding: 0.3em 0;
  position: absolute;
  top: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.asoop-navbar-three .down-top-effect li:hover a,.asoop-navbar-three .down-top-effect .current a {
  transform: translateY(-100%);
}
.asoop-navbar-three .hor-border-effect a:before,.asoop-navbar-three .hor-border-effect a:after {
  height: 3px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: orange;
  width: 0;
}
.asoop-navbar-three .hor-border-effect a:before {
  top: 0;
  left: 0;
}
.asoop-navbar-three .hor-border-effect a:after {
  bottom: 0;
  right: 0;
}
.asoop-navbar-three .hor-border-effect a:hover,.asoop-navbar-three .hor-border-effect .current a {
  color: orange;
}
.asoop-navbar-three .hor-border-effect a:hover:before,.asoop-navbar-three .hor-border-effect .current a:before,.asoop-navbar-three .hor-border-effect a:hover:after,.asoop-navbar-three .hor-border-effect .current a:after {
  width: 100%;
}
.asoop-navbar-three .hor-expand-effect a:before {
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  border-top: 3px solid #34495e;
  border-bottom: 3px solid #34495e;
}
.asoop-navbar-three .hor-expand-effect a:hover,.asoop-navbar-three .hor-expand-effect .current a {
  color: #ffffff;
}
.asoop-navbar-three .hor-expand-effect a:hover:before,.asoop-navbar-three .hor-expand-effect .current a:before {
  opacity: 1;
  top: 0;
  bottom: 0;
}
.asoop-navbar-three .vert-expand-effect a:before {
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  left: 15%;
  right: 15%;
  top: 0;
  bottom: 0;
  border-left: 3px solid #27ae60;
  border-right: 3px solid #27ae60;
}
.asoop-navbar-three .vert-expand-effect a:hover,.asoop-navbar-three .vert-expand-effect .current a {
  color: #ffffff;
}
.asoop-navbar-three .vert-expand-effect a:hover:before,.asoop-navbar-three .vert-expand-effect .current a:before {
  opacity: 1;
  left: 0;
  right: 0;
}
.asoop-navbar-three .angle-effect a:before,.asoop-navbar-three .angle-effect a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.asoop-navbar-three .angle-effect a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #c0392b;
  border-top: 3px solid #c0392b;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.asoop-navbar-three .angle-effect a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #c0392b;
  border-bottom: 3px solid #c0392b;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.asoop-navbar-three .angle-effect a:hover,.asoop-navbar-three .angle-effect .current a {
  color: #ffffff;
}
.asoop-navbar-three .angle-effect a:hover:before,.asoop-navbar-three .angle-effect .current a:before,.asoop-navbar-three .angle-effect a:hover:after,.asoop-navbar-three .angle-effect .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
.asoop-navbar-three .draw-top-effect a:before,.asoop-navbar-three .draw-top-effect a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.asoop-navbar-three .draw-top-effect a:before {
  top: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #c0392b;
}
.asoop-navbar-three .draw-top-effect a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.asoop-navbar-three .draw-top-effect a:hover:before,.asoop-navbar-three .draw-top-effect .current a:before {
  opacity: 1;
  width: 100%;
}
.asoop-navbar-three .draw-top-effect a:hover:after,.asoop-navbar-three .draw-top-effect .current a:after {
  max-width: 100%;
}
.asoop-navbar-three .draw-bottom-effect a:before,.asoop-navbar-three .draw-bottom-effect a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.asoop-navbar-three .draw-bottom-effect a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #2980b9;
}
.asoop-navbar-three .draw-bottom-effect a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.asoop-navbar-three .draw-bottom-effect a:hover:before,.asoop-navbar-three .draw-bottom-effect .current a:before {
  opacity: 1;
  width: 100%;
}
.asoop-navbar-three .draw-bottom-effect a:hover:after,.asoop-navbar-three .draw-bottom-effect .current a:after {
  max-width: 100%;
}
.asoop-navbar-three .draw-circle-effect a:before {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.asoop-navbar-three .draw-circle-effect a:before {
  bottom: 0;
  display: block;
  height: 0;
  width: 100%;
  content: "";
  transform: translate(0, 0);
  background-color: #2980b9;
  border-radius: 0 0 50% 50%;
}
.asoop-navbar-three .draw-circle-effect a:hover:before,.asoop-navbar-three .draw-circle-effect .current a:before {
  opacity: 1;
  height: 50%;
}
.asoop-navbar-three .draw-circle-effect a:hover:after,.asoop-navbar-three .draw-circle-effect .current a:after {
  max-height: 50%;
}
.offers-icon-3 {
  font-size: 28px;
}
.offers-link-3 {
  color: var(--asoop-color-4);
}
.offers-link-3:hover {
  color: var(--asoop-color-3);
}
.offers-icon-2 {
  font-size: 28px;
}
.offers-link-2 {
  color: var(--asoop-color-4);
}
.offers-link-2:hover {
  color: var(--asoop-color-3);
}
.offers-icon-1 {
  font-size: 28px;
}
.offers-link-1 {
  color: var(--asoop-color-4);
}
.offers-link-1:hover {
  color: var(--asoop-color-3);
}
.offers-icon {
  font-size: 28px;
}
.offers-link {
  color: var(--asoop-color-4);
}
.offers-link:hover {
  color: var(--asoop-color-3);
}
.offers-paragraph {
  text-align: justify;
}
.offers-title {
  color: var(--asoop-color-4);
}
.offers {
  background: linear-gradient(359deg, white 0%, var(--asoop-color-2) 59%);
  padding-top: 0;
}
.lead-img-5 {
  height: 162px;
  left: 41%;
  top: 5%;
  z-index: -1;
}
.lead-img-4 {
  height: 500px;
}
.lead-subtitle-2 {
  color: #ef89d9;
}
.lead-8 {
  position: relative;
}
.lead-8:after {
  background-color: #2a2a2a;
  background-position: left top;
  background-size: auto;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 130px;
}
.lead-7 {
  background: rgba(0, 0, 0, 0) linear-gradient(68deg, #cae8f2 20%, #f8e6f4 57%, #feebc3 100%) repeat scroll 0% 0%;
}
.lead-6 {
  padding: 0 20px;
}
.lead-img-3 {
  height: 500px;
}
.lead-subtitle-1 {
  color: #ff7900;
}
.lead-5 {
  position: relative;
}
.lead-5:after {
  background-color: #2a2a2a;
  background-position: left top;
  background-size: auto;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 130px;
}
.lead-4 {
  background: rgba(0, 0, 0, 0) linear-gradient(1deg, #cae8f2 20%, #f8e6f4 57%, #feebc3 100%) repeat scroll 0% 0%;
}
.lead-3 {
  padding: 0 20px;
}
.lead-img-21 {
  height: 162px;
  left: 41%;
  top: 5%;
  z-index: -1;
}
.lead-img-2 {
  height: 500px;
}
.lead-subtitle {
  color: #67c1be;
}
.lead-2 {
  position: relative;
}
.lead-2:after {
  background-color: #2a2a2a;
  background-position: left top;
  background-size: auto;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 130px;
}
.lead-1 {
  background: linear-gradient(159deg, var(--asoop-color-1) 20%, var(--asoop-color-2) 57%, var(--asoop-color-1) 100%);
}
.lead9 {
  height: 84px;
  margin-left: -23px;
  margin-top: -33px;
  position: relative;
  width: 84px;
}
.lead8 {
  position: relative;
}
.lead4 {
  height: 300px;
  margin-top: -82px;
  width: 300px;
}
.lead {
  padding: 0 20px;
}
.lead0 {
  background-color: #d3e0f1;
  height: 82px;
  width: 82px;
}
.lead1 {
  background-color: #feebc3;
  height: 82px;
  width: 82px;
}
.lead2 {
  background-color: var(--asoop-color-2);
  height: 82px;
  width: 82px;
}
.lead5 {
  height: 250px;
  margin-left: -13px;
  margin-top: 26px;
  width: 250px;
}
.lead7 {
  height: 250px;
  margin-left: -3px;
  margin-top: -4px;
  width: 250px;
}
.lead6 {
  height: 300px;
  margin-left: -13px;
  margin-top: 50px;
  width: 300px;
}
.lead-title:after {
  background-image: url("./../../image/20220205081631.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 120px;
  left: 50%;
  position: absolute;
  top: -30px;
  transform: translateX(-50%);
  width: 120px;
}
.row-2 {
  position: relative;
}
.row-2:after {
  background-color: #00c1ff;
  background-position: left top;
  background-size: auto;
  bottom: 0;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 160px;
}
.lead-img-1 {
  height: 118px;
  left: 5%;
  right: 0;
  top: 25%;
  z-index: -1;
}
.lead-img {
  height: 144px;
  right: 10%;
  top: 40%;
  z-index: -1;
}
.img-8 {
  border-color: #fcfafa !important;
}
.hero-5 {
  border-color: #fefefe !important;
  height: 60px;
  margin-left: -20px;
  width: 60px;
}
.button-one-3 {
  --color: var(--asoop-color-4);
  --hover: var(--asoop-color-1);
}
.button-one-3:hover {
  color: black;
}
.i-10 {
  color: #f9af13;
  font-size: 24px;
}
.i-9 {
  color: #f9af13;
  font-size: 24px;
}
.i-8 {
  color: #f9af13;
  font-size: 24px;
}
.i-7 {
  font-size: 24px;
}
.h6-2 {
  font-size: 58px;
}
.div-16 {
  height: 300px;
  margin-left: -13px;
  margin-top: 50px;
  width: 300px;
}
.h6-3 {
  font-size: 58px;
}
.div-17 {
  height: 250px;
  margin-left: -3px;
  margin-top: -4px;
  width: 250px;
}
.h6-1 {
  font-size: 58px;
}
.div-15 {
  height: 250px;
  margin-left: -13px;
  margin-top: 26px;
  width: 250px;
}
.i-3 {
  font-size: 30px;
}
.i-3mg-2 {
  height: 500px;
}
.i-3mg-3 {
  height: 500px;
}
.i-3mg-1 {
  height: 500px;
}
.i-3mg {
  height: auto;
  margin-top: -88px;
  width: 100%;
}
.div-12 {
  background-color: var(--asoop-color-2);
  height: 82px;
  width: 82px;
}
.i-2 {
  font-size: 30px;
}
.i-2mg-2 {
  height: 500px;
}
.i-2mg-3 {
  height: 500px;
}
.i-2mg-1 {
  height: 500px;
}
.i-2mg {
  height: auto;
  margin-top: -88px;
  width: 100%;
}
.div-11 {
  background-color: #feebc3;
  height: 82px;
  width: 82px;
}
.i-1 {
  font-size: 30px;
}
.i-1mg-2 {
  height: 500px;
}
.i-1mg-3 {
  height: 500px;
}
.i-1mg-1 {
  height: 500px;
}
.i-1mg {
  height: auto;
  margin-top: -88px;
  width: 100%;
}
.div-10 {
  background-color: #d3e0f1;
  height: 82px;
  width: 82px;
}
.div-8:after {
  background-color: #2a2a2a;
  background-position: left top;
  background-size: auto;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 130px;
}
.div-5:after {
  background-color: #2a2a2a;
  background-position: left top;
  background-size: auto;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 130px;
}
* {
  font-family: Montserrat;
}
.img {
  height: auto;
  margin-top: 0;
  width: 100%;
}
.hero-icon {
  font-size: 20px;
}
.hero {
  position: relative;
  overflow: hidden;
  background-color: var(--asoop-color-1);
}
.hero:after {
  background-image: url("./../../image/20220104093828.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: "";
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 412px;
  width: 100%;
  z-index: 1;
}
.section_spacer {
  padding-bottom: 100px;
  padding-top: 200px;
}
.hero-undefined {
  padding-right: 0;
}
.hero-1 {
  height: 70px;
}
.row {
  max-width: 1500px;
}
.button-one {
  --color: var(--asoop-color-4);
  --hover: var(--asoop-color-1);
}
.button-one:hover {
  color: var(--asoop-color-4);
}
.row-1:after {
  background-color: #00c1ff;
  background-position: left top;
  background-size: auto;
  bottom: 0;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 160px;
}
.section {
  position: relative;
}
.section:after {
  background-position: center center;
}
.i {
  font-size: 30px;
}
.div-9 {
  background-color: var(--asoop-color-1);
  height: 82px;
  width: 82px;
}
.button-one-1 {
  --color: var(--asoop-color-4);
  --hover: var(--asoop-color-1);
}
.button-one-1:hover {
  color: var(--asoop-color-4);
}
.div-14 {
  height: 300px;
  margin-top: -82px;
  width: 300px;
}
.h6 {
  font-size: 58px;
}
.img-6 {
  border-color: var(--asoop-color-3) !important;
}
.i-5 {
  color: #ddd8d8;
  font-size: 40px;
}
.div-18 {
  position: relative;
}
.div-19 {
  height: 84px;
  margin-left: -23px;
  margin-top: -33px;
  position: relative;
  width: 84px;
}
.i-6 {
  color: #f9af13;
  font-size: 24px;
}
.section-2 {
  background-color: var(--asoop-color-1);
  background-image: url("./../../image/20220228171406.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.button-one-2 {
  --color: var(--asoop-color-4);
  --hover: var(--asoop-color-1);
}
.button-one-2:hover {
  color: var(--asoop-color-4);
}
.container {
  padding-top: 0;
}
.section-3 {
  background-attachment: scroll;
  background-color: var(--asoop-color-1);
  background-image: url("./../../image/20220228164431.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--asoop-color-4);
}
.hero-2 {
  bottom: -90px;
  left: 0%;
  right: 0;
  width: 216px;
  z-index: 2;
}
.hero-3 {
  background-color: var(--asoop-color-4);
  border-color: #fefefe !important;
  height: 60px;
  margin-left: -20px;
  width: 60px;
}
.hero-4 {
  margin-bottom: 0;
  margin-left: 15px;
}
.section-4 {
  background-image: url("./../../image/20220115092517.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.container-1 {
  background-image: url("./../../image/20220115093214.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-headline {
  color: var(--asoop-color-4);
}
.body {
  color: var(--asoop-color-4);
}
.font {
  color: var(--asoop-color-3);
}
.hero-link {
  color: var(--asoop-color-1);
}
.hero-link:hover {
  color: var(--asoop-color-3);
}
.hero-undefined-1 {
  background-color: var(--asoop-color-4);
  color: var(--asoop-color-1);
}
.h2:after {
  background-image: url("./../../image/20220205081631.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 120px;
  left: 50%;
  position: absolute;
  top: -30px;
  transform: translateX(-50%);
  width: 120px;
}
.p-5:hover {
  color: var(--asoop-color-3);
}
.h2-3:after {
  background-image: url("./../../image/20220205143417.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 38px;
  content: "";
  height: 100px;
  position: absolute;
  width: 150px;
}
.a {
  color: var(--asoop-color-3);
}
.a:hover {
  color: var(--asoop-color-2);
}
.ul a {
  color: var(--asoop-color-4);
}
.ul a:hover {
  color: var(--asoop-color-2);
}
@media screen and (max-width: 991px) {
     .asoop-navbar-three > ul {
       width: 35%;
     
   }
}
@media screen and (max-width: 767px) {
     .asoop-navbar-three {
       flex-direction: column;
       max-height: 80px;
       overflow: hidden;
       padding: 10px;
       height: unset;
     
   }
     .asoop-navbar-three > ul {
       width: 100%;
       flex-direction: column;
     
   }
     .asoop-navbar-three > ul > li {
       margin: 10px auto;
       text-align: center;
     
   }
     .asoop-navbar-three > ul:first-child {
       order: 3;
     
   }
     .asoop-navbar-three > ul:last-child {
       order: 4;
     
   }
     .asoop-navbar-three > .logo {
       order: 1;
     
   }
     .asoop-navbar-three .asoop-navbar-three-bars {
       display: flex;
       font-size: 32px;
     
   }
     .asoop-navbar-three.show {
       max-height: 600px !important;
     
   }
     .hero:after {
       top: 550px;
     
   }
}
@media screen and (max-width: 1199px) {
     .hero-2 {
       bottom: 0;
     
   }
     .hero:after {
       top: 650px;
     
   }
}
@media screen and (max-width: 575px) {
     .hero {
       margin-top: 0;
     
   }
     .hero:after {
       top: 490px;
     
   }
     .img {
       margin-top: -14px;
     
   }
}