._140_section--1 {
  background-color: var(--asoop-color-1);
}

.div {
  padding-right: 25px;
  padding-top: 25px;
}

.img {
  z-index: 2;
}

.div--1 {
  border-color: white !important;
  bottom: -50px;
  left: -150px;
  z-index: 2;
}

.img--1 {
  height: 300px;
  width: 300px;
  z-index: 2;
}

.div--2 {
  background-image: url("./../../image/20230216133758.svg");
  bottom: -25px;
  height: 200px;
  left: -25px;
  width: 200px;
  z-index: 1;
}

.div--3 {
  background-image: url("./../../image/20230216133758.svg");
  height: 300px;
  right: 0;
  top: 0;
  width: 300px;
  z-index: 1;
}

.h2 {
  border-color: var(--asoop-color-0) !important;
  color: var(--asoop-color-0);
}

.h2--1 {
  font-size: 68px;
}

.div--4 {
  height: 100px;
}

.i {
  color: var(--asoop-color-0);
  font-size: 20px;
}

.div--5 {
  background-color: rgba(14, 14, 14, .96);
  border-color: rgba(74, 87, 100, .02) !important;
  height: 450px;
}

.div--6 {
  background-color: var(--asoop-color-0);
  font-size: 50px;
  height: 100px;
  width: 100px;
}

.p {
  line-height: 32px;
}

.row {
  color: var(--asoop-color-1);
}

.h2--2 {
  border-color: var(--asoop-color-0) !important;
  color: var(--asoop-color-0);
}

.h2--3 {
  font-size: 68px;
}

.div--7 {
  background-color: white;
  border-color: rgba(10, 10, 10, .09) !important;
}

.img--2 {
  height: 80px;
  width: 80px;
}

.p--1 {
  line-height: 32px;
}

.a {
  color: var(--asoop-color-0);
}

.col {
  color: var(--asoop-color-1);
}
