.section { background-color: var(--asoop-color-1) ; }
@media screen and (min-width: 1200px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 991px) {}
@media screen and (max-width: 767px) {}
.nav li a { color: rgb(255, 255, 255); }
.nav li a:hover { color: var(--asoop-color-0) ; }
@media screen and (max-width: 575px) {}