._140_section--1 { background-color: var(--asoop-color-1) ; }
@media screen and (min-width: 1200px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 991px) {}
@media screen and (max-width: 767px) {}
.div { padding-top: 25px; padding-right: 25px; }
.img { z-index: 2; }
.div--1 { bottom: -50px; z-index: 2; left: -150px; border-color: rgb(255, 255, 255) !important; }
.img--1 { height: 300px; width: 300px; z-index: 2; }
.div--2 { height: 200px; width: 200px; z-index: 1; bottom: -25px; left: -25px; background-image: url("http://puzzle.local/image/1/20230216133758.svg"); }
.div--3 { height: 300px; width: 300px; background-image: url("http://puzzle.local/image/1/20230216133758.svg"); top: 0px; right: 0px; z-index: 1; }
.h2 { color: var(--asoop-color-0); border-color: var(--asoop-color-0)             !important; }
.h2--1 { font-size: 68px; }
.div--4 { height: 100px; }
.i { font-size: 20px; color: var(--asoop-color-0); }
.img { z-index: 2; }
.img--1 { height: 300px; width: 300px; z-index: 2; }
.div--5 { height: 450px; border-color: rgba(74, 87, 100, 0.02) !important; background-color: rgba(14, 14, 14, 0.96); }
.div--6 { width: 100px; font-size: 50px; height: 100px; background-color: var(--asoop-color-0); }
.p { line-height: 32px; }
.row { color: var(--asoop-color-1) ; }
.h2--2 { color: var(--asoop-color-0); border-color: var(--asoop-color-0)             !important; }
.h2--3 { font-size: 68px; }
.div--7 { background-color: rgb(255, 255, 255); border-color: rgba(10, 10, 10, 0.09) !important; }
.img--2 { height: 80px; width: 80px; }
.p--1 { line-height: 32px; }
.a { color: var(--asoop-color-0) ; }
.col { color: var(--asoop-color-1) ; }
@media screen and (max-width: 575px) {}