.footer-b-1 { color:var(--asoop-color-4); }
.footer-list-1 li { color:var(--asoop-color-4); }
.footer-list-1 a { color:var(--asoop-color-4); }
.footer-list-1 a:hover { color:var(--asoop-color-3); }
.footer-list a:hover { color:var(--asoop-color-3); }
.footer-list a { color:var(--asoop-color-4); }
.footer-link-2:hover { color: rgb(96, 96, 96); }
.footer-list-item-2 { height: 50px; width: 50px; }
.footer-link-1:hover { color: rgb(96, 96, 96); }
.footer-list-item-1 { height: 50px; width: 50px; }
.footer-link:hover { color: rgb(96, 96, 96); }
.footer-link4:hover { color: rgb(96, 96, 96); }
.footer-list-item { height: 50px; width: 50px; }
.footer-link-14:hover { color: rgb(96, 96, 96); }
.footer-list-item-6 { height: 50px; width: 50px; }
.footer-list-3 a:hover { color:var(--asoop-color-3); }
.footer-list-3 li:hover { color:var(--asoop-color-3); }
.footer-list-3 a { color:var(--asoop-color-4); }
.footer-img-1 { height: 80px; width: 80px; display: block; }
.footer { background-color:var(--asoop-color-1); color:var(--asoop-color-4); }
.footer-list-2 a:hover { color:var(--asoop-color-3); }
.footer-list-2 a { color:var(--asoop-color-4); }
.footer-list-2 li { color:var(--asoop-color-4); }
.footer-list-1 a { color:var(--asoop-color-4); }
.footer-list-1 a:hover { color:var(--asoop-color-3); }
.footer-link-3:hover { color: rgb(96, 96, 96); }
.footer-link-2:hover { color: rgb(96, 96, 96); }
.footer-link-1:hover { color: rgb(96, 96, 96); }
.ul-1 a:hover { color:var(--asoop-color-3); }
.ul-1 a { color:var(--asoop-color-4); }
.ul-2 li { color:var(--asoop-color-4); }
.ul-2 a { color:var(--asoop-color-4); }
.ul-2 a:hover { color:var(--asoop-color-3); }
* { font-family: Montserrat; }
@media screen and (min-width: 1200px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 991px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 575px) {}