.page-header-link {
  &:hover {
    color: var(--asoop-color-3);
  }
  color: var(--asoop-color-4);
}

.page-header {
  background-color: var(--asoop-color-1);
  background-image: url("./../../image/20220301093827.svg");
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: contain;
  height: 550px;
}

.ul-1 {
  a {
    &:hover {
      color: var(--asoop-color-2);
    }
    color: var(--asoop-color-4);
  }
}

.span-4 {
  background-color: var(--asoop-color-3);
}

.span-3 {
  background-color: var(--asoop-color-3);
}

.span-2 {
  background-color: var(--asoop-color-3);
}

.span-1 {
  background-color: var(--asoop-color-4);
}

.div {
  height: 560px;
}

* {
  font-family: Montserrat;
}

.span {
  background-color: var(--asoop-color-2);
}

.div-4 {
  color: var(--asoop-color-4);
}

.div-2 {
  top: 100px;
}

.div-5 {
  color: var(--asoop-color-4);
}

.table {
  font-size: 14px;
}

.button-one-2 {
  --color: var(--asoop-color-4);
  --hover: var(--asoop-color-2);
}

.button-one {
  --color: var(--asoop-color-4);
  --hover: var(--asoop-color-1);

  &:hover {
    color: var(--asoop-color-4);
  }
}

.h5-1 {
  &:after {
    background-image: url("./../../image/20220205081631.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 35px;
    left: 50%;
    position: absolute;
    top: -30px;
    transform: translateX(-50%);
    width: 120px;
  }
}

.header-link {
  &:hover {
    color: var(--asoop-color-3);
  }
}

@media screen and (max-width: 991px) {
  .page-header {
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    height: 450px;
  }
}

.div-6 {
  background-color: var(--asoop-color-4);
  color: var(--asoop-color-1);
  font-size: 12px;
  left: -44px;
  top: 45px;
  transform: rotate(-45deg);
  width: 220px;
}

.div-7 {
  background-color: var(--asoop-color-4);
  color: var(--asoop-color-1);
  height: 50px;
  right: 0;
  top: 0;
  transform: translate(-25%, 25%);
  width: 50px;
}

.a {
  color: var(--asoop-color-3);

  &:hover {
    color: var(--asoop-color-2);
  }
}

.ul {
  a {
    color: var(--asoop-color-4);

    &:hover {
      color: var(--asoop-color-2);
    }
  }
}

@media screen and (max-width: 575px) {
  .page-header {
    background-size: auto;
    height: 500px;
  }
}

.accordion-button {
  &:focus {
    box-shadow: none;
  }

  &:not(.collapsed) {
    background-color: var(--asoop-color-2);
    color: var(--asoop-color-4);
  }
}
