.offers-icon-3 {
  font-size: 28px;
}

.offers-link-3 {
  &:hover {
    color: var(--asoop-color-3);
  }
  color: var(--asoop-color-4);
}

.offers-icon-2 {
  font-size: 28px;
}

.offers-link-2 {
  &:hover {
    color: var(--asoop-color-3);
  }
  color: var(--asoop-color-4);
}

.offers-icon-1 {
  font-size: 28px;
}

.offers-link-1 {
  &:hover {
    color: var(--asoop-color-3);
  }
  color: var(--asoop-color-4);
}

.offers-icon {
  font-size: 28px;
}

.offers-link {
  &:hover {
    color: var(--asoop-color-3);
  }
  color: var(--asoop-color-4);
}

.offers-paragraph {
  text-align: justify;
}

.offers-title {
  color: var(--asoop-color-4);
}

.offers {
  background: linear-gradient(359deg, white 0%, var(--asoop-color-2) 59%);
  padding-top: 0;
}

.lead-img-5 {
  height: 162px;
  left: 41%;
  top: 5%;
  z-index: -1;
}

.lead-img-4 {
  height: 500px;
}

.lead-subtitle-2 {
  color: #ef89d9;
}

.lead-8 {
  &:after {
    background-color: #2a2a2a;
    background-position: left top;
    background-size: auto;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 130px;
  }
  position: relative;
}

.lead-7 {
  background: rgba(0, 0, 0, 0) linear-gradient(68deg, #cae8f2 20%, #f8e6f4 57%, #feebc3 100%) repeat scroll 0% 0%;
}

.lead-6 {
  padding: 0 20px;
}

.lead-img-3 {
  height: 500px;
}

.lead-subtitle-1 {
  color: #ff7900;
}

.lead-5 {
  &:after {
    background-color: #2a2a2a;
    background-position: left top;
    background-size: auto;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 130px;
  }
  position: relative;
}

.lead-4 {
  background: rgba(0, 0, 0, 0) linear-gradient(1deg, #cae8f2 20%, #f8e6f4 57%, #feebc3 100%) repeat scroll 0% 0%;
}

.lead-3 {
  padding: 0 20px;
}

.lead-img-21 {
  height: 162px;
  left: 41%;
  top: 5%;
  z-index: -1;
}

.lead-img-2 {
  height: 500px;
}

.lead-subtitle {
  color: #67c1be;
}

.lead-2 {
  position: relative;

  &:after {
    background-color: #2a2a2a;
    background-position: left top;
    background-size: auto;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 130px;
  }
}

.lead-1 {
  background: linear-gradient(159deg, var(--asoop-color-1) 20%, var(--asoop-color-2) 57%, var(--asoop-color-1) 100%);
}

.lead9 {
  height: 84px;
  margin-left: -23px;
  margin-top: -33px;
  position: relative;
  width: 84px;
}

.lead8 {
  position: relative;
}

.lead4 {
  height: 300px;
  margin-top: -82px;
  width: 300px;
}

.lead {
  padding: 0 20px;
}

.lead0 {
  background-color: #d3e0f1;
  height: 82px;
  width: 82px;
}

.lead1 {
  background-color: #feebc3;
  height: 82px;
  width: 82px;
}

.lead2 {
  background-color: var(--asoop-color-2);
  height: 82px;
  width: 82px;
}

.lead5 {
  height: 250px;
  margin-left: -13px;
  margin-top: 26px;
  width: 250px;
}

.lead7 {
  height: 250px;
  margin-left: -3px;
  margin-top: -4px;
  width: 250px;
}

.lead6 {
  height: 300px;
  margin-left: -13px;
  margin-top: 50px;
  width: 300px;
}

.lead-title {
  &:after {
    background-image: url("./../../image/20220205081631.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 120px;
    left: 50%;
    position: absolute;
    top: -30px;
    transform: translateX(-50%);
    width: 120px;
  }
}

.row-2 {
  position: relative;

  &:after {
    background-color: #00c1ff;
    background-position: left top;
    background-size: auto;
    bottom: 0;
    content: "";
    height: 5px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 160px;
  }
}

.lead-img-1 {
  height: 118px;
  left: 5%;
  right: 0;
  top: 25%;
  z-index: -1;
}

.lead-img {
  height: 144px;
  right: 10%;
  top: 40%;
  z-index: -1;
}

.img-8 {
  border-color: #fcfafa !important;
}

.hero-5 {
  border-color: #fefefe !important;
  height: 60px;
  margin-left: -20px;
  width: 60px;
}

.button-one-3 {
  &:hover {
    color: black;
  }
  --color: var(--asoop-color-4);
  --hover: var(--asoop-color-1);
}

.i-10 {
  color: #f9af13;
  font-size: 24px;
}

.i-9 {
  color: #f9af13;
  font-size: 24px;
}

.i-8 {
  color: #f9af13;
  font-size: 24px;
}

.i-7 {
  font-size: 24px;
}

.h6-2 {
  font-size: 58px;
}

.div-16 {
  height: 300px;
  margin-left: -13px;
  margin-top: 50px;
  width: 300px;
}

.h6-3 {
  font-size: 58px;
}

.div-17 {
  height: 250px;
  margin-left: -3px;
  margin-top: -4px;
  width: 250px;
}

.h6-1 {
  font-size: 58px;
}

.div-15 {
  height: 250px;
  margin-left: -13px;
  margin-top: 26px;
  width: 250px;
}

.i-3 {
  font-size: 30px;
}

.i-3mg-2 {
  height: 500px;
}

.i-3mg-3 {
  height: 500px;
}

.i-3mg-1 {
  height: 500px;
}

.i-3mg {
  height: auto;
  margin-top: -88px;
  width: 100%;
}

.div-12 {
  background-color: var(--asoop-color-2);
  height: 82px;
  width: 82px;
}

.i-2 {
  font-size: 30px;
}

.i-2mg-2 {
  height: 500px;
}

.i-2mg-3 {
  height: 500px;
}

.i-2mg-1 {
  height: 500px;
}

.i-2mg {
  height: auto;
  margin-top: -88px;
  width: 100%;
}

.div-11 {
  background-color: #feebc3;
  height: 82px;
  width: 82px;
}

.i-1 {
  font-size: 30px;
}

.i-1mg-2 {
  height: 500px;
}

.i-1mg-3 {
  height: 500px;
}

.i-1mg-1 {
  height: 500px;
}

.i-1mg {
  height: auto;
  margin-top: -88px;
  width: 100%;
}

.div-10 {
  background-color: #d3e0f1;
  height: 82px;
  width: 82px;
}

.div-8 {
  &:after {
    background-color: #2a2a2a;
    background-position: left top;
    background-size: auto;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 130px;
  }
}

.div-5 {
  &:after {
    background-color: #2a2a2a;
    background-position: left top;
    background-size: auto;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 130px;
  }
}

* {
  font-family: Montserrat;
}

.img {
  height: auto;
  margin-top: 0;
  width: 100%;
}

.hero-icon {
  font-size: 20px;
}

.hero {
  position: relative;
  overflow: hidden;
  background-color: var(--asoop-color-1);

  &:after {
    background-image: url("./../../image/20220104093828.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 412px;
    width: 100%;
    z-index: 1;
  }
}

.section_spacer {
  padding-bottom: 100px;
  padding-top: 200px;
}

.hero-undefined {
  padding-right: 0;
}

.hero-1 {
  height: 70px;
}

.row {
  max-width: 1500px;
}

.button-one {
  --color: var(--asoop-color-4);
  --hover: var(--asoop-color-1);

  &:hover {
    color: var(--asoop-color-4);
  }
}

.row-1 {
  &:after {
    background-color: #00c1ff;
    background-position: left top;
    background-size: auto;
    bottom: 0;
    content: "";
    height: 5px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 160px;
  }
}

.section {
  position: relative;

  &:after {
    background-position: center center;
  }
}

.i {
  font-size: 30px;
}

.div-9 {
  background-color: var(--asoop-color-1);
  height: 82px;
  width: 82px;
}

.button-one-1 {
  --color: var(--asoop-color-4);
  --hover: var(--asoop-color-1);

  &:hover {
    color: var(--asoop-color-4);
  }
}

.div-14 {
  height: 300px;
  margin-top: -82px;
  width: 300px;
}

.h6 {
  font-size: 58px;
}

.img-6 {
  border-color: var(--asoop-color-3) !important;
}

.i-5 {
  color: #ddd8d8;
  font-size: 40px;
}

.div-18 {
  position: relative;
}

.div-19 {
  height: 84px;
  margin-left: -23px;
  margin-top: -33px;
  position: relative;
  width: 84px;
}

.i-6 {
  color: #f9af13;
  font-size: 24px;
}

.section-2 {
  background-color: var(--asoop-color-1);
  background-image: url("./../../image/20220228171406.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-one-2 {
  --color: var(--asoop-color-4);
  --hover: var(--asoop-color-1);

  &:hover {
    color: var(--asoop-color-4);
  }
}

.container {
  padding-top: 0;
}

.section-3 {
  background-attachment: scroll;
  background-color: var(--asoop-color-1);
  background-image: url("./../../image/20220228164431.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--asoop-color-4);
}

.hero-2 {
  bottom: -90px;
  left: 0%;
  right: 0;
  width: 216px;
  z-index: 2;
}

.hero-3 {
  background-color: var(--asoop-color-4);
  border-color: #fefefe !important;
  height: 60px;
  margin-left: -20px;
  width: 60px;
}

.hero-4 {
  margin-bottom: 0;
  margin-left: 15px;
}

.section-4 {
  background-image: url("./../../image/20220115092517.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container-1 {
  background-image: url("./../../image/20220115093214.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-headline {
  color: var(--asoop-color-4);
}

.body {
  color: var(--asoop-color-4);
}

.font {
  color: var(--asoop-color-3);
}

.hero-link {
  &:hover {
    color: var(--asoop-color-3);
  }
  color: var(--asoop-color-1);
}

.hero-undefined-1 {
  background-color: var(--asoop-color-4);
  color: var(--asoop-color-1);
}

.h2 {
  &:after {
    background-image: url("./../../image/20220205081631.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 120px;
    left: 50%;
    position: absolute;
    top: -30px;
    transform: translateX(-50%);
    width: 120px;
  }
}

.p-5 {
  &:hover {
    color: var(--asoop-color-3);
  }
}

@media screen and (max-width: 1199px) {
  .hero-2 {
    bottom: 0;
  }

  .hero {
    &:after {
      top: 650px;
    }
  }
}

@media screen and (max-width: 767px) {
  .hero {
    &:after {
      top: 550px;
    }
  }
}

.h2-3 {
  &:after {
    background-image: url("./../../image/20220205143417.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 38px;
    content: "";
    height: 100px;
    position: absolute;
    width: 150px;
  }
}

.a {
  color: var(--asoop-color-3);

  &:hover {
    color: var(--asoop-color-2);
  }
}

.ul {
  a {
    color: var(--asoop-color-4);

    &:hover {
      color: var(--asoop-color-2);
    }
  }
}

@media screen and (max-width: 575px) {
  .hero {
    &:after {
      top: 490px;
    }
    margin-top: 0;
  }

  .img {
    margin-top: -14px;
  }
}
