.ul a { color: rgb(0, 0, 0); }
.ul li { margin-right: 9px; }
.ul { font-size: 28px; }
@media screen and (min-width: 1200px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 991px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 575px) {}