.h1--4 { font-size: 30px; }
.div--23 { background: linear-gradient(90deg,rgba(var(--asoop-color-2), 0) 0%,rgba(var(--asoop-color-2)) 100%); }
.div--10 { height: 500px; background-size: cover; background-image: url("http://puzzle.local/image/1/20230101093600.jpg"); }
.h1--9 { font-size: 30px; }
.div--22 { background: linear-gradient(90deg,rgba(var(--asoop-color-2), 0) 0%,rgba(var(--asoop-color-2)) 100%); }
.div--21 { height: 500px; background-image: url("http://puzzle.local/image/1/20230101093600.jpg"); background-size: cover; }
.h1--8 { font-size: 30px; }
.div--20 { background: linear-gradient(90deg,rgba(var(--asoop-color-2), 0) 0%,rgba(var(--asoop-color-2)) 100%); }
.div--19 { height: 500px; background-image: url("http://puzzle.local/image/1/20230101093606.jpg"); background-size: cover; }
.h1--7 { font-size: 30px; }
.div--18 { background: linear-gradient(90deg,rgba(var(--asoop-color-2), 0) 0%,rgba(var(--asoop-color-2)) 100%); }
.div--14 { height: 500px; background-image: url("http://puzzle.local/image/1/20230101093603.jpg"); background-size: cover; }
.h1--6 { font-size: 30px; }
.div--13 { background: linear-gradient(90deg,rgba(205, 94, 23, 0.2) 0%,rgba(var(--asoop-color-2)) 100%); }
.div--12 { height: 500px; background-image: url("http://puzzle.local/image/1/20230101093609.jpg"); background-size: cover; }
.h1--5 { font-size: 30px; }
.div--11 { background: linear-gradient(90deg,rgba(var(--asoop-color-2), 0.01) 0%,rgba(var(--asoop-color-2)) 100%); }
.div--7 { height: 500px; background-size: cover; background-image: url("http://puzzle.local/image/1/20230101093611.jpg"); }
.button--4:hover { color: rgba(var(--asoop-color-0)); }
.button--4 { --color: rgba(var(--asoop-color-1)); --hover: rgba(var(--asoop-color-1)); }
.button--2:hover { color: rgba(var(--asoop-color-0)); }
.button--2 { --color: rgba(var(--asoop-color-2)); --hover: rgba(var(--asoop-color-2)); }
* { font-family: Ganjnameh; }
.nav { border-color: rgba(var(--asoop-color-1)) !important; }
.section { background-color: rgba(var(--asoop-color-1)); color: rgba(var(--asoop-color-0)); }
.nav .asoop-navbar-two-menu li a { color: var(--asoop-color-0) ; }
.nav .asoop-navbar-two-menu .menu-item-has-children > ul li a { color: var(--asoop-color-1) ; }
.button { --hover: rgba(var(--asoop-color-2)); --color: rgba(var(--asoop-color-2)); }
.button:hover { color: rgba(var(--asoop-color-0)); }
.nav li a:hover { color: var(--asoop-color-2) ; }
.img { height: 120px; }
.h1 { color: var(--asoop-color-0) ; font-size: 96px; line-height: 171px; }
.span { color: var(--asoop-color-2) ; }
.container { margin-top: 160px; }
.p { color: var(--asoop-color-0) ; text-align: justify; direction: rtl; font-size: 14px; line-height: 30px; }
.a { color: var(--asoop-color-2) ; }
.div--1 { background: linear-gradient(0deg,var(--asoop-color-3) 8%,var(--asoop-color-0) 43%); }
.section--1 { padding-top: 300px; background-color: rgba(var(--asoop-color-0)); padding-bottom: 450px; }
.div--4 { height: 100px; width: 100px; background-color: rgba(var(--asoop-color-1)); color: var(--asoop-color-0); font-size: 55px; }
.div--5 { text-align: justify; direction: rtl; border-color: var(--asoop-color-2)                                !important; height: 416px; }
.row--3 { border-color: var(--asoop-color-2)                                !important; margin-top: 100px; }
.img--2 { height: 110px; }
.section--2 { padding-bottom: 400px; background-image: url("http://puzzle.local/image/1/20230107140727.jpg"); background-size: contain; background-position: center center; color: rgba(var(--asoop-color-0)); }
.div--6 { height: 487px; width: 700px; top: 0px; left: -20%; direction: rtl; border-color: var(--asoop-color-1)                              !important; margin-left: -100%; color: rgba(var(--asoop-color-1)); }
.button--1 { --color: rgba(var(--asoop-color-2)); --hover: rgba(var(--asoop-color-2)); }
.button--1:hover { color: rgba(var(--asoop-color-0)); }
.container--3 { margin-top: 200px; color: var(--asoop-color-0); z-index: 2; }
.h1--1 { font-size: 69px; }
.p--3 { line-height: 38px; font-size: 14px; }
.section--3 { background-color: rgba(var(--asoop-color-0)); }
.img--4 { top: 0px; left: 0px; z-index: 1; }
.row--6 { margin-top: 150px; }
.h1--2 { font-size: 62px; }
.p--4 { line-height: 42px; }
.button--3 { --color: rgba(var(--asoop-color-2)); --hover: rgba(var(--asoop-color-2)); }
.button--3:hover { color: rgba(var(--asoop-color-0)); }
.col--2 { border-color: var(--asoop-color-2)                           !important; }
.ul--1 li { margin-left: 25px; margin-right: 0px; }
.ul a:hover { color: rgba(var(--asoop-color-2)); }
.section--4 { background-color: rgba(var(--asoop-color-0)); }
.container--5 { margin-top: 350px; }
.container--4 { margin-top: 200px; margin-bottom: -700px; z-index: 2; }
.section--2::after { background-color: rgba(205, 94, 23, 0.84); position: absolute; width: 100%; height: 100%; content: ""; top: 0px; }
.container--1 { margin-top: 150px; margin-bottom: -500px; }
.container--6 { margin-top: 215px; margin-bottom: 72px; }
.row--4 { z-index: 2; background: linear-gradient(0deg,var(--asoop-color-3) 8%,var(--asoop-color-0) 43%); }
.div--16 { background-image: url("http://puzzle.local/image/1/20221229174621.jpg"); background-size: cover; height: 800px; background-position: center center; }
.container--2 { margin-top: -500px; }
.div--8 { height: 500px; background-size: cover; }
.div--9 { background: linear-gradient(0deg,var(--asoop-color-3) 8%,var(--asoop-color-0) 43%); }
.row--8 { color: rgba(var(--asoop-color-0)) ; }
.div--17 { color: rgba(var(--asoop-color-1)) ; }
.i { color: rgba(var(--asoop-color-0)) ; }
.nav .asoop-navbar-two-menu .menu-item-has-children > ul li a { color: rgba(var(--asoop-color-1)) ; }
@media screen and (min-width: 1200px) {}
@media screen and (max-width: 1199px) {  .div--8 { background-image: unset; }  .div--6 { inset: 74px 0px 0px 130px; margin-left: 0%; }}
@media screen and (max-width: 991px) {  .i--1 { color: var(--asoop-color-0) ; }  .button { margin-top: 80px; }  .nav .asoop-navbar-two-menu .menu-item-has-children > ul li a { color: var(--asoop-color-4) ; }  .nav .asoop-navbar-two-menu .menu-item-has-children > ul li a { color: var(--asoop-color-3) ; }  .nav .asoop-navbar-two-menu .menu-item-has-children > ul li a { color: var(--asoop-color-4) ; }  .nav .asoop-navbar-two-menu .menu-item-has-children > ul li a { color: var(--asoop-color-2) ; }  .nav .asoop-navbar-two-menu li a { color: var(--asoop-color-1) ; }}
@media screen and (max-width: 767px) {}
.img--5 { height: 80px; background-color: rgb(255, 255, 255); }
.h1--3 { color: var(--asoop-color-1) ; }
.button--5 { --color: rgba(var(--asoop-color-2)); --hover: rgba(var(--asoop-color-2)); }
.button--5:hover { color: rgba(var(--asoop-color-0)); }
.ul a { color: rgba(var(--asoop-color-1)); }
.ul li { margin-top: 20px; }
.ul { font-size: 14px; }
.ul a { color: var(--asoop-color-1); }
.ul li:hover { color: rgba(var(--asoop-color-2)); }
.ul li { margin-top: 20px; }
.ul { font-size: 14px; }
.ul a { color: var(--asoop-color-1); }
.ul li:hover { color: var(--asoop-color-2)                            !important; }
.ul li { margin-top: 20px; }
.ul { font-size: 14px; }
.ul a { color: var(--asoop-color-1); }
.ul li:hover { color: var(--asoop-color-2)                            !important; }
.ul li { margin-top: 20px; }
.ul { font-size: 14px; }
.li { height: 50px; width: 50px; background-color: rgb(255, 255, 255); }
.a--1 { color: var(--asoop-color-1) ; }
.a--1:hover { color: var(--asoop-color-2)                              !important; }
.li { height: 50px; width: 50px; background-color: rgb(255, 255, 255); }
.a--1 { color: var(--asoop-color-1) ; }
.a--1:hover { color: var(--asoop-color-2)                              !important; }
.li { height: 50px; width: 50px; background-color: rgb(255, 255, 255); }
.a--1 { color: var(--asoop-color-1) ; }
.a--1:hover { color: var(--asoop-color-2)                              !important; }
.li { height: 50px; width: 50px; background-color: rgb(255, 255, 255); }
.a--1 { color: var(--asoop-color-1) ; }
.a--1:hover { color: var(--asoop-color-2)                              !important; }
.p--5 { color: var(--asoop-color-1) ; font-size: 12px; }
.ul--2 a { color: rgb(188, 188, 188); }
.ul--2 a:hover { color: var(--asoop-color-2) ; }
.ul--2 { font-size: 14px; }
@media screen and (max-width: 575px) {  .container { margin-top: 110px; }  .div--6 { height: unset; }  .container--6 { margin-top: 0px; }  .container--1 { margin-top: 100px; margin-bottom: -300px; }}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}