$darkslateblue_470d3c: #470d3c;

.div--1 {
  border-color: var(--asoop-color-1) !important;
  color: var(--asoop-color-4);
  height: 50px;
  width: 50px;
}

.header-paragraph--4 {
  font-size: 44px;
}

.header-paragraph--1 {
  font-size: 80px;
}

.header {
  background: linear-gradient(325deg, var(--asoop-color-5) 56%, $darkslateblue_470d3c 100%);
}

* {
  font-family: Playfair Display;
}

.header--1 {
  direction: ltr;
}

.header-paragraph {
  font-size: 26px;
}

.header-img {
  height: 800px;
}

.section {
  background-color: var(--asoop-color-5);
}

.div {
  background-image: url("./../../image/20220905075006.jpg");
  background-position: center center;
  background-size: cover;
  border-color: var(--asoop-color-1) !important;
  height: 400px;
}
