.img--26 { height: 50px; width: 50px; }
.img--25 { height: 50px; width: 50px; }
.img--24 { height: 50px; width: 50px; }
.a--6 { color: var(--asoop-color-3); }
.a--6:hover { color: var(--asoop-color-2); }
.a--6 { color: var(--asoop-color-3); }
.a--6:hover { color: var(--asoop-color-2); }
.a--6 { color: var(--asoop-color-3); }
.a--6:hover { color: var(--asoop-color-2); }
.div--39 { direction: rtl; }
.img--22 { height: 100px; width: 100px; }
.div--38 { color: var(--asoop-color-5) ; border-color: rgba(56, 108, 106, 0.61) !important; }
.a--5 { color: var(--asoop-color-3); }
.a--5:hover { color: var(--asoop-color-2); }
.a--5 { color: var(--asoop-color-3); }
.a--5:hover { color: var(--asoop-color-2); }
.a--5 { color: var(--asoop-color-3); }
.a--5:hover { color: var(--asoop-color-2); }
.div--37 { direction: rtl; }
.img--21 { height: 100px; width: 100px; }
.div--36 { color: var(--asoop-color-5) ; border-color: rgba(56, 108, 106, 0.61) !important; }
.a--4 { color: var(--asoop-color-3); }
.a--4:hover { color: var(--asoop-color-2); }
.a--4 { color: var(--asoop-color-3); }
.a--4:hover { color: var(--asoop-color-2); }
.a--4 { color: var(--asoop-color-3); }
.a--4:hover { color: var(--asoop-color-2); }
.div--35 { direction: rtl; }
.img--20 { height: 100px; width: 100px; }
.div--34 { color: var(--asoop-color-5) ; border-color: rgba(56, 108, 106, 0.61) !important; }
.a--3:hover { color: var(--asoop-color-2); }
.a--3 { color: var(--asoop-color-3); }
.a--3:hover { color: var(--asoop-color-2); }
.a--3 { color: var(--asoop-color-3); }
.a--3:hover { color: var(--asoop-color-2); }
.a--3 { color: var(--asoop-color-3); }
.div--31 { direction: rtl; }
.a--2:hover { color: var(--asoop-color-2); }
.a--2 { color: rgba(var(--asoop-color-1)); }
.a--2:hover { color: var(--asoop-color-2); }
.a--2 { color: var(--asoop-color-3); }
.a--2:hover { color: var(--asoop-color-2); }
.a--2 { color: var(--asoop-color-3); }
.div--29 { direction: rtl; }
.div--24 { height: 300px; width: 300px; bottom: 0px; left: 0px; background-color: var(--asoop-color-5); border-color: rgb(255, 255, 255) !important; color: rgb(255, 255, 255); }
.div--23 { height: 300px; width: 300px; bottom: 0px; left: 0px; background-color: var(--asoop-color-5); border-color: rgb(255, 255, 255) !important; color: rgb(255, 255, 255); }
.div--22 { height: 300px; width: 300px; bottom: 0px; left: 0px; background-color: var(--asoop-color-5); border-color: rgb(255, 255, 255) !important; color: rgb(255, 255, 255); }
.div--21 { height: 300px; width: 300px; bottom: 0px; left: 0px; background-color: var(--asoop-color-5); border-color: rgb(255, 255, 255) !important; color: rgb(255, 255, 255); }
.div--20 { height: 300px; width: 300px; bottom: 0px; left: 0px; background-color: var(--asoop-color-5); border-color: rgb(255, 255, 255) !important; color: rgb(255, 255, 255); }
.p--11 { font-size: 24px; color: var(--asoop-color-1); }
.p--10 { font-size: 37px; color: var(--asoop-color-5); }
.div--18 { border-color: rgba(252, 252, 252, 0.54) !important; background-color: var(--asoop-color-2); }
.p--9 { font-size: 24px; color: var(--asoop-color-1); }
.p--8 { font-size: 37px; color: var(--asoop-color-5); }
.div--15 { border-color: rgba(252, 252, 252, 0.54) !important; background-color: var(--asoop-color-2); }
.p--7 { font-size: 24px; color: var(--asoop-color-1); }
.p--6 { font-size: 37px; color: var(--asoop-color-5); }
.img--9 { height: 440px; }
.div--13 { border-color: rgba(252, 252, 252, 0.54) !important; background-color: var(--asoop-color-2); }
.p--4 { font-size: 24px; color: var(--asoop-color-1); }
.div--8 { width: 300px; left: 50%; transform: translate(-50%); height: 300px; }
.div--7 { height: 300px; width: 300px; right: 0px; }
.div--6 { height: 300px; width: 400px; left: 0px; }
.div--5 { height: 300px; width: 300px; left: 50%; transform: translate(-50%); bottom: 0px; }
.div--4 { height: 300px; width: 300px; right: 0px; bottom: 0px; }
.section--4 { background-color: var(--asoop-color-3); color: rgba(var(--asoop-color-0)); }
.section--2 { color: rgb(0, 0, 0); background-image: url("http://puzzle.local/image/1/20230207182323.jpg"); background-size: cover; background-position: center center; }
.p--1 { line-height: 32px; font-size: 17px; }
* { font-family: Shahab; }
.container { margin-top: 110px; margin-bottom: -300px; z-index: 1; }
.section { background: linear-gradient(210deg,var(--asoop-color-0) 0%,rgba(255, 255, 255, 1) 68%); color: rgba(var(--asoop-color-0)); }
._133_nav { border-color: rgba(0, 0, 0, 0); }
.img--2 { height: 1000px; }
.h1 { font-size: 85px; color: var(--asoop-color-5); }
.div { color: var(--asoop-color-5) ; }
.p { font-size: 37px; color: var(--asoop-color-1); }
.button--1 { --color: var(--asoop-color-1); --hover: var(--asoop-color-1); }
.button--1:hover { color: rgb(255, 255, 255); }
.img--3 { height: 310px; }
.h1--1 { font-size: 73px; }
.p--2 { line-height: 45px; font-size: 19px; }
.h2 { font-size: 50px; color: var(--asoop-color-5); }
.h2--1 { font-size: 50px; }
.col--4 { height: 450px; margin-bottom: 131px; }
.div--3 { height: 300px; width: 300px; bottom: 0px; left: 0px; background-color: var(--asoop-color-5); border-color: rgb(255, 255, 255) !important; color: rgb(255, 255, 255); }
.col--5 { height: 450px; }
.div--9 { height: 350px; }
.col--2 { color: var(--asoop-color-5) ; }
.div--10 { border-color: rgba(252, 252, 252, 0.54) !important; background-color: var(--asoop-color-2); }
.p--3 { font-size: 37px; color: var(--asoop-color-5); }
.img--8 { height: 440px; }
.section--7 { background-color: var(--asoop-color-3) ; }
.div--16 { background-image: url("http://puzzle.local/image/1/20230128104908.svg"); background-size: contain; background-position: center center; background-repeat: no-repeat; background-color: rgba(var(--asoop-color-1)); color: rgba(var(--asoop-color-0)); }
.div--1 { border-right: 2px solid rgb(56, 108, 106); border-left: 2px solid rgb(245, 245, 245); background: repeating-linear-gradient(0deg, rgba(227, 164, 65, 0) 0%, rgba(56, 108, 106, 0.58) 43%, rgba(227, 164, 65, 0) 100%); }
.section--1 { background-color: rgba(var(--asoop-color-2), 0.7); color: rgba(var(--asoop-color-0)); }
.img--5 { height: 80px; }
.div--25 { background-color: rgba(56, 108, 106, 0.78); color: rgba(var(--asoop-color-3)); }
.div--26 { direction: rtl; }
.div--33 { direction: rtl; }
.div--32 { color: var(--asoop-color-5) ; border-color: rgba(56, 108, 106, 0.61) !important; }
.form { direction: rtl; color: rgba(var(--asoop-color-0)); }
.section--3 { background-color: rgba(var(--asoop-color-0)); color: rgba(var(--asoop-color-3)); }
._131_ul li { margin-right: 20px; margin-left: 20px; }
.button--3 { --hover: rgba(var(--asoop-color-1)); --color: rgba(var(--asoop-color-3)); }
.button--3:hover { color: rgba(var(--asoop-color-3)); }
.img--23 { height: 50px; width: 50px; }
.div--42 { direction: ltr; }
.p--12 { direction: rtl; }
.div--44 { direction: rtl; }
.section--5 { background-color: var(--asoop-color-3) ; background-image: url("http://puzzle.local/image/1/20230209090329.svg"); background-size: contain; background-position: center center; background-repeat: no-repeat; }
.div--45 { background-color: rgba(227, 164, 65, 0.78); }
.img--27 { height: 60px; width: 60px; border-color: var(--asoop-color-5)           !important; }
.div--46 { border-color: var(--asoop-color-5)            !important; }
.div--47 { color: var(--asoop-color-5) ; top: -60px; }
.i--1 { font-size: 98px; background-color: var(--asoop-color-3); }
.div--48 { padding-top: 50px; }
.p--13 { color: var(--asoop-color-5) ; }
.div--49 { padding-top: 50px; }
.div--50 { padding-top: 50px; }
.div--51 { padding-top: 50px; }
.div--52 { padding-top: 50px; }
.div--53 { padding-top: 50px; }
.button--2 { --hover: rgba(var(--asoop-color-0)); --color: rgba(var(--asoop-color-0)); }
.button--2:hover { color: rgba(var(--asoop-color-3)); }
.container--2 { color: var(--asoop-color-5) ; }
.ul--4 a:hover { color: rgba(var(--asoop-color-1)); }
.ul--5 a { color: var(--asoop-color-5) ; }
.ul--5 a:hover { color: var(--asoop-color-1) ; }
.div--54 { background-image: url("http://puzzle.local/image/1/20230128114140.svg"); background-size: cover; background-position: center center; height: 475px; bottom: 0px; z-index: 9; pointer-events: none; }
.img--10 { height: 440px; }
.img--12 { height: 80px; }
.img--13 { height: 80px; }
.img--14 { height: 80px; }
.img--16 { height: 80px; }
.img--15 { height: 80px; }
.img--19 { height: 100px; width: 100px; }
._133_nav li a { color: rgba(var(--asoop-color-0)) ; }
._133_nav li a:hover { color: rgba(var(--asoop-color-1)) ; }
.section--6 { color: rgba(var(--asoop-color-0)) ; }
.ul--4 a { color: rgba(var(--asoop-color-0)) ; }
@media screen and (min-width: 1200px) {}
@media screen and (max-width: 1199px) {  .p--16 { direction: rtl; }  .img--11 { height: 440px; }  .img--3 { margin: unset; }  .img--2 { height: 550px; width: 400px; }  .div { text-align: justify; }}
@media screen and (max-width: 991px) {  .div--54 { z-index: 1; }  .button { margin-top: 80px; }  .i { color: var(--asoop-color-5); }}
@media screen and (max-width: 767px) {}
.img { height: 120px; }
.button { --hover: rgba(var(--asoop-color-0)); --color: rgba(var(--asoop-color-0)); }
.button:hover { color: rgb(255, 255, 255); }
.a { color: var(--asoop-color-3); }
.a:hover { color: var(--asoop-color-2); }
.a { color: var(--asoop-color-3); }
.a:hover { color: var(--asoop-color-2); }
.a { color: var(--asoop-color-3); }
.a:hover { color: var(--asoop-color-2); }
.img--7 { height: 80px; background-color: rgb(255, 255, 255); width: 80px; }
.ul--4 li { margin-top: 20px; }
.ul--4 { font-size: 14px; color: var(--asoop-color-5); }
.ul--4 li { margin-top: 20px; }
.ul--4 { font-size: 14px; }
.ul--4 li:hover { color: var(--asoop-color-2)                           !important; }
.ul--4 li { margin-top: 20px; }
.ul--4 { font-size: 14px; }
.ul--4 li:hover { color: var(--asoop-color-2)                           !important; }
.ul--4 li { margin-top: 20px; }
.ul--4 { font-size: 14px; }
.ul--5 li { margin-right: 0px; margin-left: 0px; }
.li--5 { height: 50px; width: 50px; background-color: rgb(255, 255, 255); }
.a--1 { color: var(--asoop-color-1) ; }
.a--1:hover { color: var(--asoop-color-2)                             !important; }
.li--5 { height: 50px; width: 50px; background-color: rgb(255, 255, 255); }
.a--1 { color: var(--asoop-color-1) ; }
.a--1:hover { color: var(--asoop-color-2)                             !important; }
.li--5 { height: 50px; width: 50px; background-color: rgb(255, 255, 255); }
.a--1 { color: var(--asoop-color-1) ; }
.a--1:hover { color: var(--asoop-color-2)                             !important; }
.li--5 { height: 50px; width: 50px; background-color: rgb(255, 255, 255); }
.a--1 { color: var(--asoop-color-1) ; }
.a--1:hover { color: var(--asoop-color-2)                             !important; }
.p--5 { color: var(--asoop-color-1) ; font-size: 12px; }
.ul--6 a { color: rgb(188, 188, 188); }
.ul--6 a:hover { color: var(--asoop-color-2) ; }
.ul--6 { font-size: 14px; }
.li { height: 50px; width: 50px; }
.li--1 { height: 50px; width: 50px; background-color: rgba(189, 0, 255, 0.3); }
.li--2 { height: 50px; width: 50px; background-color: rgb(197, 9, 114); }
.li--3 { height: 50px; width: 50px; background-color: rgb(255, 0, 4); }
@media screen and (max-width: 575px) {  .container--3 { z-index: 10; }  .i { background-color: var(--asoop-color-5) ; }}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}